/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 *
 * Core Infuze Creator CSS file. This resets css for all browsers to look
 * identical and sets the basic display css for all widget types and attributes
 */

/******************************************************************************
* CSS Reset - Based on http://meyerweb.com/eric/tools/css/reset/
******************************************************************************/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	width: 100%;
	height: 100%;
	user-select: none;
}

body {
	width: 100%;
	height: 100%;
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;

	&:before,
		&:after {
		content: '';
		content: none;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

em, i {
	font-style: italic;
}

strong,
b {
	font-weight: bold;
}

s {
	text-decoration: line-through;
}

small,
sub,
sup {
	line-height: 1;
	font-size: .83em;
}

sub {
	vertical-align: sub;
}

sup {
	vertical-align: super;
}

input {
    font: inherit;
}

textarea,
input[type="text"] {
	user-select: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	padding: 0.2em 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.414em;
}

h3 {
	font-size: 1.155em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.894em;
}

h6 {
	font-size: 0.816em;
}

img {
	width: auto;
	height: auto;

	&[data-src] {
		background: transparent inline('loading.gif') center / 42px no-repeat;
	}
}

/******************************************************************************
* Fake cursor for storyboard
******************************************************************************/

#ic_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	z-index: 1000;
	pointer-events: all;
	// Set up the background image - offset first is the offset to put the point at 0,0 - then size
	background: transparent -40px -40px / 80px 80px no-repeat;
	transition: background-position 2s ease-in-out;

	&[data-cursor] {
		cursor: none;
	}

	&[data-cursor=pointer] {
		background-image: inline('pointer.png');
	}

	&[data-cursor=click] {
		background-image: inline('click.png');
	}

	&[data-cursor=drag] {
		background-image: inline('drag.png');
	}
}

@keyframes storyboard-highlight {
	0% {
		outline: 2px solid rgba(255,0,0,0);
	}
	50% {
		outline: 2px solid rgba(255,0,0,1);
	}
	100% {
		outline: 2px solid rgba(255,0,0,0);
	}
}

.ic-storyboard {
	animation: storyboard-highlight 800ms ease-in-out 0s 3;
}

/******************************************************************************
* Widgets
******************************************************************************/

ic-screens {
	cursor: default;
}

ic-activity,
ic-activities,
ic-audio,
ic-anchor,
ic-box,
ic-button,
ic-draggable,
ic-dropdown,
ic-droppable,
ic-feedback,
ic-nav,
ic-pin,
ic-pins,
ic-option,
ic-options,
ic-question,
ic-screen,
ic-screens,
ic-select,
ic-text,
ic-timer,
ic-toggle,
ic-video {
	position: relative;
}

ic-activity,
ic-activities,
ic-box,
ic-feedback,
ic-option,
ic-options,
ic-question,
ic-screens,
ic-video {
	display: block;
}

ic-audio,
ic-anchor,
ic-button,
ic-draggable,
ic-dropdown,
ic-nav,
ic-pin,
ic-pins,
ic-screen,
ic-timer,
ic-toggle {
	display: inline-block;
}

ic-droppable,
ic-select,
ic-text {
	display: inline-flex;
}

ic-toggle[ic-toggle='range'],
ic-toggle[ic-toggle='multirange'] {
	display: inline;
}

ic-button,
ic-draggable,
ic-dropdown,
ic-droppable,
ic-select,
ic-text,
ic-timer,
ic-toggle {
	min-width: 1em;
}

ic-dropdown,
ic-droppable,
ic-text,
ic-toggle {
	width: 100%;
}

p ic-dropdown,
p ic-droppable,
p ic-nav,
p ic-text,
p ic-toggle {
	width: auto;
}

ic-button,
ic-draggable,
ic-option,
ic-select,
ic-toggle {
	&:not(.ict-state-disabled) {
		cursor: pointer;
	}
}

/* Clearfix */
.clearfix,
ic-activity,
ic-activities {
	&::before,
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}

ic-droppable {
	> ic-draggable {
		width: 100%;
		vertical-align: middle;

		&.drag-helper {
			width: inherit;
			height: inherit;
		}
	}

	&[ic-droppable='horizontal'],
	&[ic-droppable='vertical'],
	&[ic-droppable='shape'],
	&[ic-droppable='position'] {
		> ic-draggable {
			position: absolute;
		}

		> ic-pins {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	&[ic-droppable='shape'] {
		pointer-events: none;

		> svg {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: auto;
			z-index: 2;
		}
	}

	&:not([ic-columns='1']) {
		&::before,
		&::after {
			content: "\200B";
		}
	}
}

ic-box[ic-story] {
	&.ict-state-disabled {
		visibility: hidden;
		transition: visibility 0s 1s;
	}

	> * {
		transition: opacity 1s, visibility 0s;
	}

	> .hidden {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		transition: opacity 1s 0s, visibility 0s 1s;
	}
}

ic-feedback {
	position: absolute;
	display: none; // flex - set when visible
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

/* Hide overflow on nav */
ic-nav {
	overflow: hidden;
	white-space: nowrap;

	> span {
		position: relative;
		display: inline-block;
	}

	&:not(.ict-state-disabled) {
		cursor: pointer;
	}
}

ic-option {
	padding: 0 0.2em;
}

ic-options {
	position: fixed;
	background: white;
	border: 1px solid black;
	z-index: 5;
}

ic-pins {
	z-index: 1;
}

ic-screens {
	white-space: nowrap;
	height: 100%;
	text-align: left;
}

ic-screen {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	white-space: normal;
	vertical-align: top;

	&:empty {
		&:before {
			content: "\00a0";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@extend img[data-src];
		}
	}
}

ic-select {
	background: inherit;

	&::before {
		content: "\200b";
	}

	&:not(.ict-state-open) > ic-options {
		display: none;
	}

	&.ict-state-empty {
		&:not([ic-placeholder])::before {
			content: "...";
		}

		&[ic-placeholder]::before {
			content: attr(ic-placeholder);
		}
	}
}

/* Styling for text editable areas */
ic-text {
	display: inline-flex;

	> input,
	> textarea {
		display: inline-flex;
		flex: 1 1 auto;
		resize: none;
		border: none;
		margin: 0;
		padding: 0;
		width: 0%;
		height: 100%;
		font-size: 100%;
		border-radius: inherit;
		box-sizing: border-box;
		background: none;
		line-height: inherit;
	}

	> input {
		vertical-align: top;
		text-align: inherit;
	}

	> textarea:focus {
		outline: none;
	}

	&::before,
	&::after {
		content: "\200B";
	}
}

.drag-helper {
	position: fixed !important;
	pointer-events: none !important;
	z-index: 100;
	width: auto;
	height: auto;
}

.drop-helper {
	pointer-events: all;
}

/******************************************************************************
* SVG drawLine
******************************************************************************/

svg[ic-line] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1;

	line {
		&:not([stroke]) {
			stroke: black;

			&[ic-disabled] {
				stroke-dasharray: 5, 5;
			}
		}

		&:not([stroke-width]) {
			stroke-width: 2px;
		}
	}

	marker {
		&:not([fill]) {
			fill: black;
		}

		&:not([stroke]) {
			stroke: black;
		}
	}
}

/******************************************************************************
* Attributes
******************************************************************************/

[ic-columns] {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch; /* iOS fix */

	> * {
		flex: 0 0 auto;
	}
}

[ic-columns="1x"],
[ic-columns="2x"],
[ic-columns="3x"],
[ic-columns="4x"],
[ic-columns="5x"],
[ic-columns="6x"],
[ic-columns="7x"],
[ic-columns="8x"],
[ic-columns="9x"],
[ic-columns="10x"] {
	justify-content: space-between;
}

[ic-columns="1"],
[ic-columns="1x"] {
	flex-direction: column;
	flex-wrap: nowrap;

	> * {
		width: 100%; //calc(100% / 1);
	}
}

[ic-columns="1"] > * {
	flex-grow: 1;
}

[ic-columns="2"] > * {
	width: 50%; //calc(100% / 2);
}

[ic-columns="2x"] > * {
	width: calc((100% - 1rem) / 2);
}

[ic-columns="3"] > * {
	width: calc(100% / 3);
}

[ic-columns="3x"] > * {
	width: calc((100% - 2rem) / 3);
}

[ic-columns="4"] > * {
	width: 25%; //calc(100% / 4);
}

[ic-columns="4x"] > * {
	width: calc((100% - 3rem) / 4);
}

[ic-columns="5"] > * {
	width: 20%; //calc(100% / 5);
}

[ic-columns="5x"] > * {
	width: calc((100% - 4rem) / 5);
}

[ic-columns="6"] > * {
	width: calc(100% / 6);
}

[ic-columns="6x"] > * {
	width: calc((100% - 5rem) / 6);
}

[ic-columns="7"] > * {
	width: calc(100% / 7);
}

[ic-columns="7x"] > * {
	width: calc((100% / 7rem) / 7);
}

[ic-columns="8"] > * {
	width: 12.5%; //calc(100% / 8);
}

[ic-columns="8x"] > * {
	width: calc((100% - 7rem) / 8);
}

[ic-columns="9"] > * {
	width: calc(100% / 9);
}

[ic-columns="9x"] > * {
	width: calc((100% - 8rem) / 9);
}

[ic-columns="10"] > * {
	width: 10%; //calc(100% / 10);
}

[ic-columns="10x"] > * {
	width: calc((100% - 9rem) / 10);
}
