body{background:transparent;-webkit-box-shadow:0 0 4px #494949;box-shadow:0 0 4px #494949}body>*{background:white}ic-screen>*:not([ic-columns]),ic-screen>*[ic-columns]>*{border:2px dashed green;background:white}
