// Copyright © 2013-2014 Infuze Ltd, All Rights Reserved.

html {
	-webkit-text-size-adjust: 100%;
	height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	font-family: 'Titillium Web', sans-serif;
	line-height: 1;
	height: 100%;
	text-align: center;
	user-select: none;
	padding: 0;
	font-size: 12px;
	opacity: 0;

	transition: opacity 0.4s;

	&:before {
		content: "\00a0";
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #595959;
		opacity: 0.5;
	}
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

s {
	text-decoration: line-through;
}

small,
sub,
sup {
	font-size: .83em;
}

sub {
	vertical-align: sub;
}

sup {
	vertical-align: super;
}

#ic_drag_panel {
	background: #494949;
	color: #dddddd;
	font-weight: bold;
	border: 1px solid silver;
	border-radius: 4px;
	padding: 6px 0;
	font-size: 13px;
	z-index: 100;
	height: auto !important;
}

.ic-drag-panel-target:before {
	content: "\00a0";
	display: block;
	border: 2px dotted red;
	min-width: 7em;
	box-sizing: border-box;
}

#layout {
	position: absolute;
	width: 100%;
	height: 100%;
	background: red;
	z-index: 1;
}

#file_drop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	padding: 2.5% 2.5%;
	z-index: 2000;
	opacity: 1;
	transition: visibility 0s, opacity 0.25s ease-in-out;

	&:not(.show) {
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
		transition: visibility 0.25s, opacity 0.25s ease-in-out;
	}

	> div {
		position: relative;
		height: 100%;
		border-radius: 10vh;
		background: rgba(255, 255, 255, 0.8);
		border: 4px dashed blue;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 5vh;
		text-shadow: 0 0 0.3em white;

		> span {
			> i {
				font-size: 10vh;
			}

			> span {
				font-size: 0.5em;
			}
		}
	}
}

.w2ui-layout {
	> div {
		.w2ui-resizer {
			&:hover,
				&.active {
				background-color: #d7e4f2;
			}
		}

		> .w2ui-panel {
			> .w2ui-panel-tabs {
				/*position: relative;*/
				background: #494949;
				color: #dddddd;
				font-weight: normal;
				text-align: left;
				padding-left: calc(0.5em + 5px);
				border-top: 1px solid lighten(#494949, 10%);
				border-right: 1px solid darken(#494949, 10%);
				border-bottom: 1px solid darken(#494949, 10%);
				border-left: 1px solid lighten(#494949, 10%);
				padding: 0;
				height: 26px;

				&:before {
					content: "\00a0";
					position: absolute;
					top: 0;
					left: 0;
					width: 0.4em;
					height: 100%;
					background: #82ba27;
				}

				table {
					border: none;

					td[width]:before {
						content: "\00a0";
						display: block;
						height: 24px;
					}
				}

				.w2ui-tab {
					border-bottom: none;

					&.active {
						color: inherit;
						background: inherit; //lighten(#494949, 10%);
						font-weight: bold;
					}

					&:not(.active) {
						border-color: darken(silver, 20%);
						background: darken(#494949, 20%);
						color: darken(#dddddd, 20%);
					}
				}

				td:last-child > img {
					position: absolute;
					top: 2px;
					right: 4px;
					width: 20px;
					height: 20px;
				}

				div.eat_me {
					position: absolute;
					right: 0;
					top: 0;
					height: 100%;
					cursor: default;

					> span {
						position: relative;
						display: inline-block;
						width: 26px;
						height: 24px;
						padding: 1px 2px;
						cursor: pointer;

						/*&:not(:first-child) {*/
						border-left: 1px dotted lighten(#494949, 10%);
						/*}*/

						&:not(:last-child) {
							border-right: 1px dotted darken(#494949, 10%);
						}

						&:hover {
							background-color: #303030;
						}

						&:before {
							content: "\00a0";
							display: inline-block;
							width: 20px;
							height: 20px;
							background: url('icons/icons_small.png') no-repeat;
							background-position: 0 0;
						}

						&.disabled {
							pointer-events: none;

							&:before {
								background-position-x: -20px;
							}
						}
					}
				}
			}

			> .w2ui-panel-content > div {
				width: 100%;
				height: 100%;
				background: #a2a2a2;
				text-align: left;
				border-top: 0;
				border-right: 1px solid darken(#494949, 10%);
				border-bottom: 1px solid lighten(#494949, 10%);
				border-left: 1px solid darken(#494949, 10%);

				&:focus {
					box-shadow: inset 1px 1px 1px lighten(#494949, 10%), inset -1px -1px 1px darken(#494949, 10%);
				}
			}
		}
	}
}

.w2ui-form .w2ui-field > div {
	text-align: left;
}

.w2ui-popup > .w2ui-msg-title > .fa {
	float: left;
	margin: 1px 3px;
}

.mono {
	font-family: monospace;
	font-weight: normal;
}

.ruler {
	position: absolute;
	width: 100%;
	height: 100%;
	background: red;
	cursor: resize;
	z-index: 1000;
	opacity: 0.7;
	top: 0;
	left: 0;
}

.ui-dialog.ui-widget-content {
	border: none !important;
}

#aba {
	#ic_button_folder:before {
		background-position-y: 0;
	}

	#ic_button_clone:before {
		background-position-y: -20px;
	}

	#ic_button_remove:before {
		background-position-y: -40px;
	}

	#ic_button_more:before {
		background-position-y: -60px;
	}

	#ic_file_upload {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}

	/*	.inputfile:focus + label,
			.inputfile + label:hover {
			background-color: red;
		}*/

	#ic_popup_more {
		position: absolute;
		display: none;
		right: 0;
		top: calc(100% + 1px);
		background: #494949;
		color: #dddddd;
		font-weight: normal;
		border-top: 1px solid lighten(#494949, 10%);
		border-right: 1px solid darken(#494949, 10%);
		border-bottom: 1px solid darken(#494949, 10%);
		border-left: 1px solid darken(#494949, 10%);
		box-shadow: 0 0 1px black;
		z-index: 1;

		> span {
			display: block;
			padding: 0.5em 0.8em 0.5em 1.6em;
			cursor: pointer;

			&.aba-toggle:before {
				content: "\f096";
				position: absolute;
				left: 0.3em;
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

			&.aba-toggle.active:before {
				content: "\f046";
			}

			&:not(:first-child) {
				border-top: 1px dotted lighten(#494949, 10%);
			}

			&:not(:last-child) {
				border-bottom: 1px dotted darken(#494949, 10%);
			}

			&:hover {
				background-color: #303030;
			}

			&.disabled {
				pointer-events: none;
				color: #888888;
			}
		}

		> hr {
			border: none;
			margin: 0;
			background: #303030;
			padding: 0.2em;
		}
	}


	.ui-dialog {
		.ui-dialog-content {
			margin: 0 -0.2em;
			border-bottom: none;
			width: calc(100% + 0.4em) !important;
		}

		.ui-dialog-buttonpane {
			margin: 0 -.2em -0.2em -0.2em;
			background: #494949;
			border-top: 1px solid lighten(#494949, 10%);
			border-right: 1px solid darken(#494949, 10%);
			border-bottom: 1px solid darken(#494949, 10%);
			border-left: 1px solid lighten(#494949, 10%);
		}
	}

	.ui-button {
		color: #dddddd;
		background: #303030;
		border-top: 1px solid #636363;
		border-right: 1px solid #30302F;
		border-bottom: 1px solid #303030;
		border-left: 1px solid #636363;
		border-radius: 0;

		&.ui-state-active {
			background: #a2a2a2;
			color: #303030;
		}
	}

	.aba-admin,
	.ui-dialog {
		> .ui-widget-header {
		}
	}
}

#ic_source {
	background: white;
}

#ic_edit,
#ic_activities,
#ic_users {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.ic_edit {
	position: relative;
	flex: 1 1 auto;
	height: 100%;

	iframe {
		pointer-events: none;
	}
}

/*.ic_edit,*/
.ic_users {
	position: relative;
	flex: 1 1 auto;
	height: calc(100% - 27px);
}

.ic-toolbar {
	color: #dddddd;
	background: lighten(#494949, 10%);
	padding: 1px 2px;
	border-bottom: 1px solid #494949;
	font-size: 10px;
	height: 27px;
	text-shadow: 0 0 1px black;
	flex: 0 0 auto;
	overflow: hidden;

	> hr {
		display: inline-block;
		width: 1px;
		height: 16px;
		background: #777777;
		border: none;
		margin: 0 4px;
		vertical-align: middle;
	}

	> .fa-stack {
		padding: 2px 4px;
		border-radius: 4px;
		box-sizing: content-box;
		cursor: pointer;
		overflow: hidden;

		> .fa:nth-child(2) {
			color: #82ba27;
			margin-top: calc(0.5em + 1px);
			margin-left: calc(0.5em + 2px);

			&::before {
				background: lighten(#494949, 10%);
				padding-left: 1px;
			}
		}

		&:hover {
			background: #171717;

			> .fa:nth-child(2)::before {
				background: #171717;
			}
		}

		&.disabled {
			pointer-events: none;
			color: #777777;

			> .fa:nth-child(2) {
				color: inherit;
			}
		}
	}
}

#ic_activities .ic-toolbar .disabled {
	//	display: none;
}

#ic_activities.show-files #ic_button_files,
#ic_activities.show-trash #ic_button_recycle {
	&:not(:hover) {
		background: darken(#777777, 20%);

		> .fa:nth-child(2)::before {
			background: darken(#777777, 20%);
		}
	}

	> .fa:nth-child(2)::before {
		content: "\f05d";
	}
}

#new_screen_popup {
	height: calc(100% - 7px);

	.ui-accordion-content {
		text-align: left;

		> div {
			position: relative;
			display: inline-block;
			margin: 0.5em;
			padding: 0.5em;
			text-align: center;
			cursor: pointer;
			border-radius: 0.5em;

			> div {
				position: relative;
				width: 320px;
				height: 200px;
				overflow: hidden;

				> img {
					position: absolute;
					width: 320px;
					height: 200px;
				}

				> iframe {
					width: 640px;
					height: 400px;
					transform: scale(0.5, 0.5);
					transform-origin: top left;
					pointer-events: none;
				}
			}

			&:hover {
				box-shadow: inset 0 0 1px 1px #494949;
				background: #bcbcbc;
			}
		}
	}
}

.resources,
#ic_resources,
#image_bank_popup {
	position: relative;
	height: 100%;
	background: #eee;
	font-size: 13px;

	> span {
		position: absolute;
		display: block;
		width: auto;
		height: 2em;
		line-height: 2em;
		text-align: center;
		z-index: 100;
		left: 0;
		right: 0;
		margin: 0 auto;

		> * {
			margin-left: 0.5em;
		}

		> span > i {
			width: 2em;
			line-height: 1.8;
			cursor: pointer;
			background: #eee;
			box-shadow: inset 0 0 0 1px #bcbcbc;

			&:first-child {
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}

			&:last-child {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}

			&.active:not(:only-child) {
				cursor: default;
			}

			&.active,
			&:hover {
				background: #bcbcbc;
				box-shadow: inset 0 0 0 1px #494949;
			}
		}

		> div {
			position: relative;
			display: inline-block;

			> input[type='text'] {
				width: 15em;
			}

			&:after {
				content: "\f0b0";
				position: absolute;
				display: inline-block;
				right: 0.5em;
				font: normal normal normal 14px/2 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				pointer-events: none;
			}
		}

		> label {
			display: inline-block;
			width: 2em;
			line-height: 1.8;
			background: #eee;
			box-shadow: inset 0 0 0 1px #bcbcbc;
			border-radius: 3px;
			cursor: pointer;

			&:hover {
				background: #bcbcbc;
				box-shadow: inset 0 0 0 1px #494949;
			}

			> input[type='file'] {
				display: none;
			}
		}
	}

	&.thumbs {
		> div,
		#resource_list,
		#image_bank_list {
			> a {
				text-align: center;
				display: inline-block;

				> div {
					display: inline-flex;
					width: 320px;
					height: 200px;
					margin: 0.5em;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					&:before {
						content: none;
					}
				}

				> h3 {
					padding-top: 0.2em;
					width: 320px;

					> span {
						display: none;
					}
				}
			}
		}
	}

	&.icons {
		> div,
		#resource_list,
		#image_bank_list {
			> a {
				text-align: center;
				display: inline-block;

				> div {
					display: inline-flex;
					width: 160px;
					height: 100px;
					margin: 0.5em;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					&:before {
						content: none;
					}

					audio {
						width: inherit;
						margin-top: 0.5em;

						//&::-webkit-media-controls-panel,
						&::-webkit-media-controls-mute-button,
						//&::-webkit-media-controls-play-button,
						//&::-webkit-media-controls-timeline-container,
						//&::-webkit-media-controls-current-time-display,
						//&::-webkit-media-controls-time-remaining-display,
						//&::-webkit-media-controls-timeline,
						&::-webkit-media-controls-volume-slider-container,
						&::-webkit-media-controls-volume-slider,
						&::-webkit-media-controls-seek-back-button,
						&::-webkit-media-controls-seek-forward-button,
						&::-webkit-media-controls-fullscreen-button,
						&::-webkit-media-controls-rewind-button,
						&::-webkit-media-controls-return-to-realtime-button,
						&::-webkit-media-controls-toggle-closed-captions-button {
							display: none;
						}
					}
				}

				&:not(.audio) > h3 {
					display: none;
				}

				&.audio > h3 {
					position: absolute;
					top: 2em;
					left: 0.5em;
					right: 0.5em;
					font-size: 1em;
					overflow: hidden;
					text-overflow: ellipsis;

					> span {
						display: none;
					}
				}
			}
		}
	}

	&.list {
		> div,
		#resource_list,
		#image_bank_list {
			> a {
				text-align: left;
				display: inline-flex;
				width: 320px;
				align-items: center;

				> div {
					display: inline-block;
					width: 80px;
					height: 50px;
					margin: 0;

					&:before {
						content: none;
					}

					audio {
						width: inherit;
						margin-top: 0.5em;

						//&::-webkit-media-controls-panel,
						&::-webkit-media-controls-mute-button,
						//&::-webkit-media-controls-play-button,
						&::-webkit-media-controls-timeline-container,
						&::-webkit-media-controls-current-time-display,
						&::-webkit-media-controls-time-remaining-display,
						//&::-webkit-media-controls-timeline,
						&::-webkit-media-controls-volume-slider-container,
						&::-webkit-media-controls-volume-slider,
						&::-webkit-media-controls-seek-back-button,
						&::-webkit-media-controls-seek-forward-button,
						&::-webkit-media-controls-fullscreen-button,
						&::-webkit-media-controls-rewind-button,
						&::-webkit-media-controls-return-to-realtime-button,
						&::-webkit-media-controls-toggle-closed-captions-button {
							display: none;
						}
					}
				}

				> h3 {
					display: inline-block;
					padding-left: 0.3em;
					width: calc(100% - 80px);

					> span {
						display: none;
					}
				}
			}
		}
	}

	&.details {
		> div,
		#resource_list,
		#image_bank_list {
			justify-content: flex-start;

			> a {
				text-align: left;
				display: inline-flex;
				width: 320px;
				align-items: center;

				> div {
					display: inline-block;
					background: none !important;
					width: 16px;

					audio,
					video {
						display: none;
					}

					&:after {
						content: none !important;
					}
				}

				> h3 {
					display: inline-block;
					padding-left: 0.3em;
					width: calc(100% - 16px);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		&:not(.ext) {
			> div,
			#resource_list,
			#image_bank_list {
				> a > h3 > span:first-child {
					display: none;
				}
			}
		}
	}
}

.resources > div,
#resource_list,
#image_bank_list {
	overflow-y: auto;
	height: 100%;
	padding-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-content: flex-start;
    align-items: flex-start;

	> div {
		flex-basis: 100%;
		background: #bcbcbc;
		border-top: 1px solid #494949;
		border-bottom: 1px solid #494949;
		text-align: center;
		margin: 0.1em 0;

		.resources.alpha &,
		#ic_resources.alpha & {
			display: none;
		}

		> h3 {
			font-size: 1.3em;
			font-weight: bold;
			line-height: 1.5;

			> span {
				display: none;
			}
		}
	}

	> a {
		position: relative;
		padding: 0.5em;
		cursor: pointer;
		text-decoration: none;
		color: inherit;
		border-radius: 0.5em;

		&.new {
			background-color: rgba(0, 255, 0, 0.1);
		}

		> div {
			position: relative;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			.resources.info &[data-type]:after,
				#image_bank_popup.ext &[data-type]:after,
				#ic_resources.ext &[data-type]:after {
				content: attr(data-type);
				position: absolute;
				bottom: 0px;
				left: 0px;
				font-family: monospace;
				font-size: 10px;
				font-weight: normal;
				line-height: 1;
				text-transform: uppercase;
				color: black;
				background: white;
				border: 1px solid black;
				border-radius: 2px;
				padding: 0 1px;
			}
		}

		&.defer > div {
			background-image: url('icons/loading.gif') !important;

			.resources.thumbs &,
			#ic_resources.thumbs & {
				background-size: 105px auto;
			}

			.resources.list &,
			#ic_resources.list & {
				background-size: 100% auto;
			}
		}

		> h3 {
			font-size: 1.3em;
			line-height: 1.5;
		}

		&.active,
		&:hover {
			box-shadow: inset 0 0 1px 1px #494949;
			background: #bcbcbc;
		}

		&.active {
			font-weight: bold;
		}
	}
}

.resources.image > div > a:not(.image),
.resources.video > div > a:not(.video),
.resources.audio > div > a:not(.audio),
#ic_resources.image #resource_list > a:not(.image),
#ic_resources.video #resource_list > a:not(.video),
#ic_resources.audio #resource_list > a:not(.audio) {
	display: none;
}

.aba-tree {
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	white-space: nowrap;
	font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
	overflow: auto;
	height: 100%;

	li {
		position: relative;
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		outline: 0;
		cursor: pointer;
		box-sizing: border-box;

		> .flags {
			position: absolute;
			top: 2px;
			right: 3px;
			font-size: 1.2em;
			text-align: left;
			cursor: pointer;
			margin: 0;

			span {
				margin: 0;
			}

			span:not(.hidden) ~ span:not(.hidden) {
				margin-left: 2px;
			}
		}

		&.aba-tree-warning > a {
			color: red !important;
		}

		&.aba-tree-active,
		&.aba-tree-selected {
			z-index: 0;
		}

		&.aba-tree-active {
			&:before {
				border-left: 0.4em solid #82ba27;
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
			}
		}

		&.aba-tree-selected,
		&.aba-tree-dragging,
		&.aba-tree-active {
			> a {
				color: white;
			}

			&:before {
				content: "\00a0";
				position: absolute;
				top: 1px;
				right: 0;
				left: -0.4em;
				height: 16px;
				background: #595959;
				z-index: -1;
			}
		}

		&.aba-tree-dragging {
			position: fixed;
			display: inline-block;
			padding-left: 0.5em;
			padding-right: 0.5em;
			pointer-events: none;
			z-index: 10000 !important;
			transform: translateZ(0);

			> span:first-child {
				// Don't remove it as it fixes vertical alignment
				visibility: hidden;
				width: 0;
			}

			> ul,
			> .flags {
				display: none;
			}
		}

		&.aba-tree-selected,
		&.aba-tree-dragging {
			&:before {
				border-radius: 6px;
				border-left: none;
			}
		}

		&.aba-tree-hover-inner {
			margin-left: -1px;
			border-left: 1px dashed red;
		}

		&.aba-tree-hover-inner,
		&.aba-tree-hover-prev {
			margin-top: -1px;
			border-top: 1px dashed red;
		}

		&.aba-tree-hover-inner,
		&.aba-tree-hover-next {
			margin-bottom: -1px;
			border-bottom: 1px dashed red;
		}

		&.aba-tree-path > a {
			font-weight: bold;
		}

		> a {
			display: inline-block;
			vertical-align: middle;
			color: inherit;

			&:hover {
				text-decoration: underline;
			}

			> .fa {
				display: inline-block;
				width: 1.2em;
				margin-right: 0.2em;
				text-align: center;
			}
		}

		ul {
			margin: 0;
			padding: 0 0 0 18px;
			outline: 0;
		}

		> span:first-child {
			display: inline-block;
			line-height: 0;
			width: 18px;
			height: 18px;
			//background: url("icons/aba-tree.png") 0 0 no-repeat, url("icons/aba-tree.png") 0 0 no-repeat;
			background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAABaBAMAAAABXbjPAAAAFVBMVEUAAAAuLi6JiYl8sSW/v7/a2tmkpKSKZSGAAAAAAXRSTlMAQObYZgAAAL1JREFUSMftlMENwyAQBAMVHITkDXRgpQVaoAX6LyGIBFbnixQ/LMVE3oc94tgHjMTloDE1BGC55ZwJwOKSS/SCVGHE0JeZMa7+ABt60YsZy72UQoDN54s1HnBmtyjctq2hthRCaPCoISZALR3Qa982e4O2w5JnM+wWPez+SQ8zAHaJ2T/0hr/QdS8drsO7XXvX8C7vGt7pswfZw8oxevP428+7kd5j1x25d5nzVZ4iyqy9A+Q7D0BPRk/l/Qn09i9tEP3zAwAAAABJRU5ErkJggg") 0 0 no-repeat,
				url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAABaBAMAAAABXbjPAAAAFVBMVEUAAAAuLi6JiYl8sSW/v7/a2tmkpKSKZSGAAAAAAXRSTlMAQObYZgAAAL1JREFUSMftlMENwyAQBAMVHITkDXRgpQVaoAX6LyGIBFbnixQ/LMVE3oc94tgHjMTloDE1BGC55ZwJwOKSS/SCVGHE0JeZMa7+ABt60YsZy72UQoDN54s1HnBmtyjctq2hthRCaPCoISZALR3Qa982e4O2w5JnM+wWPez+SQ8zAHaJ2T/0hr/QdS8drsO7XXvX8C7vGt7pswfZw8oxevP428+7kd5j1x25d5nzVZ4iyqy9A+Q7D0BPRk/l/Qn09i9tEP3zAwAAAABJRU5ErkJggg") 0 0 no-repeat;
			background-position: 0 0, 0 0;
			vertical-align: middle;
		}

	}

	li {
		&.aba-tree-file {
			font-style: italic;

			#ic_activities:not(.show-files) & {
				display: none;
			}
		}

		#ic_activities:not(.show-trash) &.aba-flag-trash {
			display: none;
		}


		&.aba-tree-children:not(.aba-tree-children-open) > ul {
			display: none;
		}

		&:not(.aba-tree-lastchild) > ul {
			position: relative;

			&::before {
				content: "\00a0";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 18px;
				//background: url("icons/aba-tree-line.png") 0 0 repeat-y;
				background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAASAgMAAABOTZS7AAAADFBMVEUAAAAuLi58sSWJiYlazteZAAAAAXRSTlMAQObYZgAAABZJREFUCNdjYGA4AMSSDCDgAGENdjEA7hEKw1jBRsAAAAAASUVORK5CYII") 0 0 repeat-y;
			}
		}
	}

	& > li,
	li.aba-tree-path > ul > li {
		// Highlight until next selector turns it normal again
		&.aba-tree-node {
			&:not(.aba-tree-lastchild) > span:first-child {
				background-position: 0 0, (-18px * 1) (-18px * 2);
			}

			&.aba-tree-lastchild > span:first-child {
				background-position: 0 0, (-18px * 1) (-18px * 3);
			}
		}

		&:not(.aba-tree-lastchild)  ul:before {
			background-position: -18px 0;
		}

		&.aba-tree-children {
			&:not(.aba-tree-lastchild) {
				&.aba-tree-children-open > span:first-child {
					background-position: (-18px * 2) 0, (-18px * 1) (-18px * 2);
				}

				&:not(.aba-tree-children-open) > span:first-child {
					background-position: (-18px * 1) 0, (-18px * 1) (-18px * 2);
				}
			}

			&.aba-tree-lastchild {
				&.aba-tree-children-open > span:first-child {
					background-position: (-18px * 2) 0, (-18px * 1) (-18px * 3);
				}

				&:not(.aba-tree-children-open) > span:first-child {
					background-position: (-18px * 1) 0, (-18px * 1) (-18px * 3);
				}
			}
		}
	}

	& > li.aba-tree-active ~ li,
	& > li.aba-tree-path ~ li,
	li.aba-tree-path > ul > li.aba-tree-active ~ li,
	li.aba-tree-path > ul > li.aba-tree-path ~ li,
	li:not(.aba-tree-path) > ul > li {
		&.aba-tree-node {
			&:not(.aba-tree-lastchild) > span:first-child {
				background-position: 0 0, (-18px * 0) (-18px * 2);
			}

			&.aba-tree-lastchild > span:first-child {
				background-position: 0 0, (-18px * 0) (-18px * 3);
			}
		}

		> ul:before {
			background-position: 0 0;
		}

		&.aba-tree-children {
			&:not(.aba-tree-lastchild) {
				&.aba-tree-children-open > span:first-child {
					background-position: (-18px * 2) 0, (-18px * 0) (-18px * 2);
				}

				&:not(.aba-tree-children-open) > span:first-child {
					background-position: (-18px * 1) 0, (-18px * 0) (-18px * 2);
				}
			}

			&.aba-tree-lastchild {
				&.aba-tree-children-open > span:first-child {
					background-position: (-18px * 2) 0, (-18px * 0) (-18px * 3);
				}

				&:not(.aba-tree-children-open) > span:first-child {
					background-position: (-18px * 1) 0, (-18px * 0) (-18px * 3);
				}
			}
		}
	}

	& > li.aba-tree-active,
	& > li.aba-tree-path,
	li.aba-tree-path > ul > li.aba-tree-active,
	li.aba-tree-path > ul > li.aba-tree-path {
		&.aba-tree-node {
			&:not(.aba-tree-lastchild) > span:first-child {
				background-position: 0 0, (-18px * 2) (-18px * 2);
			}

			&.aba-tree-lastchild > span:first-child {
				background-position: 0 0, (-18px * 2) (-18px * 3);
			}
		}

		> ul:before {
			background-position: 0 0;
		}

		&.aba-tree-children {
			&:not(.aba-tree-lastchild) {
				&.aba-tree-children-open > span:first-child {
					background-position: (-18px * 2) 0, (-18px * 2) (-18px * 2);
				}

				&:not(.aba-tree-children-open) > span:first-child {
					background-position: (-18px * 1) 0, (-18px * 2) (-18px * 2);
				}
			}

			&.aba-tree-lastchild {
				&.aba-tree-children-open > span:first-child {
					background-position: (-18px * 2) 0, (-18px * 2) (-18px * 3);
				}

				&:not(.aba-tree-children-open) > span:first-child {
					background-position: (-18px * 1) 0, (-18px * 2) (-18px * 3);
				}
			}
		}
	}

	&:not(.aba-flag-show-comments) .aba-flag-show-comments {
		display: none;
	}

	&:not(.aba-flag-show-feedback) .aba-flag-show-feedback {
		display: none;
	}

	&:not(.aba-flag-show-files) .aba-flag-show-files {
		display: none;
	}

	&:not(.aba-flag-show-flags) .aba-flag-show-flags {
		display: none;
	}

	&:not(.aba-flag-show-modules) .aba-flag-show-modules {
		display: none;
	}

	&:not(.aba-flag-show-root) .aba-flag-show-root {
		display: none;
	}

	&:not(.aba-flag-show-scss) .aba-flag-show-scss {
		display: none;
	}
}

.w2ui-panel-content {
	overflow: visible !important;
}
.w2ui-layout>div .w2ui-panel .w2ui-panel-tabs {
	z-index: initial !important;
}

#ic_preview {
	display: block;
}

#show_marks {
    position: absolute;
    display: block;
    top: -23px;
    left: calc(50% - 4em);
    width: auto;
    padding: 3px 10px;
    border-radius: 3px;
	cursor: pointer;
    font-size: 11px;
    border: 1px solid #8d8d8d;
    background: #161616;
    color: #aaa;

	&::before {
		content: "Hide marks";
	}

	&:hover,
		&.active {
		border-color: silver;
		background: #494949;
		color: #dddddd;
	}

	&.active {
		left: calc(50% - 4em - 2px);
		font-weight: bold;

		&::before {
			content: "Show marks";
		}
	}
}

#show_storyboard {
    position: absolute;
    display: flex;
    top: -23px;
    left: calc(50% + 5em);
    width: auto;
	max-width: calc(50% - 15em);
    border-radius: 3px;
    font-size: 11px;
	white-space: nowrap;
	background: #161616;
	color: #aaa;

	> * {
		display: inline-block;
		border: 1px solid #8d8d8d;

		&:not(:first-child) {
			margin-left: -1px;
		}
	}

	> i {
		cursor: pointer;
		padding: 3px 4px;

		&:first-child {
			border-top-left-radius: inherit;
			border-bottom-left-radius: inherit;
		}
	}

	&:not(.playing) > i:nth-child(1),
		&.playing > i:nth-child(2),
		&.playing > i:nth-child(3),
		&.playing > i:nth-child(4) {
		color: #555;
		border-color: #666;
		pointer-events: none;
	}

	> i:hover {
		border-color: silver;
		background: #494949;
		color: #dddddd;
	}

	> span {
		padding: 3px 10px;
		border-color: silver;
		background: #494949;
		color: #dddddd;
		border-top-right-radius: inherit;
		border-bottom-right-radius: inherit;
		overflow: hidden;
		text-overflow: ellipsis;
		user-select: all;
	}
}

#ic_edit,
#ic_preview {
	iframe {
		margin: 0 auto;
		width: 100%;
		height: 100%;
	}
}

#ic_edit > .ic_edit {
	> .overlay {
		position: absolute;
		z-index: 100;
		color: rgba(255, 0, 255, 0.7);
		outline: 1px dashed currentColor;
		outline-offset: -1px;
		opacity: 0.3;
		transition: opacity 250ms;

		&.element {
			color: rgba(0, 0, 255, 0.7);
		}

		&.dragging {
			z-index: 1;
		}

		&.active {
			color: rgba(red, 0.7);
			outline: 2px solid currentColor;
		}

		//&.passive,
		&.active {
			&.move {
				cursor: move;
			}

			&.dragging > span.resize {
				opacity: 0.5;
			}

			> span.resize {
				pointer-events: auto;
			}
		}

		> span.resize {
			position: absolute;
			display: block;
			width: 1rem;
			height: 1rem;
			background: currentColor;
			border: 1px solid currentColor;
			transition: opacity 100ms;
			pointer-events: none;

			&.disabled {
				color: rgba(#d2e0eb, 0.7);
			}

			&.active,
			&:hover {
				color: red;
				box-shadow: 0 0 2px 1px white;

				&.disabled {
					color: #d2e0eb;
				}
			}

			&.nw {
				top: -0.5rem;
				left: -0.5rem;
				cursor: nw-resize;
			}

			&.n {
				top: -0.5rem;
				left: 50%;
				margin-left: -0.5rem;
				cursor: n-resize;
			}

			&.ne {
				top: -0.5rem;
				right: -0.5rem;
				cursor: ne-resize;
			}

			&.w {
				top: 50%;
				left: -0.5rem;
				margin-top: -0.5rem;
				cursor: w-resize;
			}

			&.e {
				top: 50%;
				right: -0.5rem;
				margin-top: -0.5rem;
				cursor: e-resize;
			}

			&.sw {
				bottom: -0.5rem;
				left: -0.5rem;
				cursor: sw-resize;
			}

			&.s {
				bottom: -0.5rem;
				left: 50%;
				margin-left: -0.5rem;
				cursor: s-resize;
			}

			&.se {
				bottom: -0.5rem;
				right: -0.5rem;
				cursor: se-resize;
			}
		}

		&:not(.active) {
			opacity: 0;

			> span {
				opacity: 0.3;
				background: transparent;
			}
		}

		&:not(.resizable) > span {
			display: none !important;
		}
	}

	&:hover > .overlay {
		opacity: 1;
	}
}

#ic_ckeditor {
	display: none;

	.cke_chrome,
	.cke_inner {
		height: 100%;
	}

	.cke_contents {
		height: calc(100% - 108px) !important;
		/*height: calc(100% - 135px) !important;*/
	}

	.cke_bottom {
		/*Need more height above to display this*/
		display: none;
	}
}

#ic_footer {
	background: #494949;
	color: #dddddd;
	border-top: 1px solid lighten(#494949, 10%);
	border-right: 1px solid darken(#494949, 10%);
	border-bottom: 1px solid darken(#494949, 10%);
	border-left: 1px solid lighten(#494949, 10%);
	font-size: 18px;
	line-height: 22px;
	padding: 0 0.25em;
}

#ic_explore {
	display: none;
	box-shadow: 0 0 0.2em 0.2em rgba(0, 0, 0, 0.3);

	> .ui-layout-west {
		position: absolute;
		background: white;
		left: 0;
		top: 0;
		bottom: 3em;
		width: 20%;
		overflow: auto;

		.ui-widget-header {
			padding: 0.5em 1em;
			margin-bottom: 0.5em;
		}

		> table {
			font-size: 1.3em;
			border-spacing: 0;
			width: 100%;

			td {
				text-align: left;
				padding: 0.2em;

				&:first-child {
					width: 1em;
				}
			}

			tr {
				cursor: pointer;

				&:hover td {
					background: lightblue;
				}

				&.selected td {
					background: cornflowerblue;
				}
			}
		}
	}

	> .ui-layout-center {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 3em;
		width: 80%;
		overflow: hidden;

		> div {
			border: 1px solid lightcyan;
			width: 100%;
			height: 100%;
			overflow: hidden;
			display: none;

			&:first-child {
				background: white;
				float: left;
			}

			&:last-child {
				float: right;
				text-align: center;

				img, svg {
					position: relative;
					max-width: 100%;
					max-height: 100%;
					background-color: pink;
					background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 10%, transparent 10%, transparent 10%, rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
					background-size: 50px 50px;
				}

				audio {
					position: relative;
					top: 10%;
					max-width: 90%;
					margin-top: -2em;
				}

				div {
					user-select: all;
					font-size: 3em;
					line-height: 2em;
					background: white;

					+ div {
						border-top: 1px solid lightcyan;
					}

					&:nth-child(2) {
						font-weight: bold;
					}

					&:nth-child(3) {
						font-style: italic;
					}

					&:nth-child(4) {
						text-decoration: underline;
					}
				}
			}
		}
	}

	> .ui-layout-south {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 1px solid #aed0ea;

		a,
		button {
			padding: 0.4em 1em;
			margin: 0.4em 1em;
			border: 1px solid #aed0ea;
			border-radius: 6px;
			background: linear-gradient(to bottom, #e4f2fb 0%, #e4f2fb 49%, #d7ebf9 10%, #e9f4fc 100%);
			color: #3d80b3;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			font-weight: bold;
			text-decoration: none;

			&:hover {
				background: linear-gradient(to bottom, #eff7fd 0%, #eff7fd 49%, #e4f1fb 10%, #f3f9fe 100%);
				border: 1px solid #74b2e2;
				color: 2694e8;
			}

			&.disabled {
				opacity: 0.35;
				pointer-events: none;
			}
		}

		#ic_mode_explore_download,
		#ic_mode_explore_rename,
		#ic_mode_explore_delete {
			float: left;
		}

		#ic_mode_explore_save {
			float: right;
		}
	}
}

#ic_marking {
	display: none;
	overflow: auto;
	background: #eee;

	> table {
		margin: 0 auto;
		font-size: 1.5em;
		line-height: 1.5;
		border-spacing: 0;
		border-collapse: collapse;

		th {
			font-weight: bold;
			padding: 0.2em 0.4em;

			&:not(:first-child) {
				border-top: 1px solid #303030;
				border-left: 1px solid #303030;
				border-right: 1px solid #303030;
			}
		}

		tr:last-child > td {
			border-bottom: 1px solid #303030;
		}

		td {
			border-top: 1px solid #a2a2a2;
			border-left: 1px solid #303030;
			border-right: 1px solid #303030;
			padding: 0.2em 0.4em;
			vertical-align: top;

			&:first-child {
				text-align: left;
				border-left: 1px solid #303030;
			}

			&:last-child {
				text-align: left;
				border-right: 1px solid #303030;
			}

			input {
				font-size:inherit;
				font-family: monospace;
				width: 100%;

				&[type=text] {
					text-align: left;
				}

				&[type=number] {
					width: 4em;
				}
			}

			textarea {
				font-size: inherit;
				line-height: 1em;
				height: 2em;
			}
		}

		tr.line-above > td {
			border-top: 1px solid #303030;
		}
	}
}





#edit_frame {
	color: red;

	&:before {
		font-size: 16px;
		margin-top: 0.1em;
		margin-left: 0.1em;
	}
}

#size_frame {
	color: white;
	text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

#size_frame,
#edit_frame {
	position: absolute;
	display: none;
	outline: 1px dashed red;
	box-shadow: 0 0 0 1px white;
	pointer-events: none;
	text-align: left;
	white-space: nowrap;
	overflow: visible;

	> span {
		position: absolute;
		display: block;
		background: red;
		padding: 0.25em;
		border-top-left-radius: 0.25em;
		border-bottom-left-radius: 0.25em;
		font-size: 1.5rem;
		line-height: 1em;
		right: 100%;
		top: -1px;
		width: 1em;
		height: 1em;
		box-sizing: content-box !important;
		color: white;
		text-shadow: 0 0 1px black, 1px 1px 1px black;
		z-index: 5;
		pointer-events: all;
		cursor: pointer;

		&:hover {
			text-shadow: 0 0 1px black;
		}
	}
}

#edit_frame.fa-pencil-square-o {
	color: green;
	outline-color: green;
}

#header {
	height: 106px !important;
	text-align: left;
	border-bottom: 1px solid darken(#303030, 10%);
	box-sizing: content-box;
	text-shadow: 1px 1px black;

	header {
		background: #282828;
		border-bottom: 1px solid darken(#282828, 10%);
		height: 40px;

		> img {
			position: absolute;
			left: 8px;
			top: 4px;
		}

		> span {
			display: inline-block;
			position: absolute;
			left: 0;
			right: 0;
			color: #ddd;
			text-align: center;
			padding: 14px 0;
			pointer-events: none;
		}

		> button {
			float: right;
			color: #dddddd;
			margin: 8px 8px 8px 8px;
			padding: 5px;
			background: #494949;
			border-top: 1px solid lighten(#494949, 10%);
			border-right: 1px solid darken(#494949, 10%);
			border-bottom: 1px solid darken(#494949, 10%);
			border-left: 1px solid lighten(#494949, 10%);
			cursor: pointer;
			text-shadow: 1px 1px black;

			&[disabled] {
				pointer-events: none;
				opacity: 0.5;
			}

			&:hover {
				padding: 6px 4px 4px 6px;
				background: darken(#494949, 10%);
				border-top: 1px solid darken(#494949, 20%);
				border-right: 1px solid lighten(#494949, 10%);
				border-bottom: 1px solid lighten(#494949, 10%);
				border-left: 1px solid darken(#494949, 20%);
			}
		}

		> div {
			float: right;
			color: #dddddd;
			margin: 14px 8px;

			> span {
				color: #82ba27;
				font-weight: bold;
				margin-left: 0.5em;
				cursor: pointer;
			}
		}
	}

	> div {
		position: relative;
		background: #303030;
		height: 66px;
		padding: 2px 8px;
	}

	#aba-buttons-right {
		position: absolute;
		right: 8px;
		top: 0;
		height: 100%;
		width: 66px;
		margin: 4px 0;

		> span {
			display: inline-block;
			width: 26px;
			height: 26px;
			padding: 2px;
			margin: 2px;
			background: #494949;
			border-top: 1px solid lighten(#303030, 10%);
			border-right: 1px solid darken(#303030, 10%);
			border-bottom: 1px solid darken(#303030, 10%);
			border-left: 1px solid lighten(#303030, 10%);
			cursor: pointer;

			&:before {
				content: "\00a0";
				position: relative;
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url('icons/icons_small.png');
			}

			&.active,
			&:hover {
				background-color: darken(#494949, 10%);
				border-top-color: darken(#303030, 10%);
				border-right-color: lighten(#303030, 10%);
				border-bottom-color: lighten(#303030, 10%);
				border-left-color: darken(#303030, 10%);

				&:before {
					top: 1px;
					left: 1px;
				}
			}

			&.active {
				background-color: darkgreen;
			}

			&.disabled {
				background: rgba(#494949, 0.5);
				border-color: darken(#303030, 10%);
				pointer-events: none;

				&:before {
					background-position-x: 20px;
				}
			}
		}

		#ic_button_json:before {
			background-position-y: -80px;
		}

		#ic_button_refresh:before {
			background-position-y: -100px;
		}

		#ic_button_scss:before {
			background-position-y: -120px;
		}

		#ic_button_size:before {
			background-position-y: -140px;
		}
	}

	.aba-buttons {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		padding: 0;

		&:not(:last-child) {
			padding-right: 0.5em;
			border-right: 1px dotted darken(#303030, 10%);
		}

		.aba-button {
			position: relative;
			display: inline-block;
			min-width: 62px;
			height: 62px;
			padding: 44px 0.5em 0 0.5em;
			border-radius: 6px;
			color: #dddddd;
			text-align: center;
			vertical-align: bottom;
			cursor: pointer;
			z-index: 0;

			+ span {
				margin-left: 0.1em;
			}

			&:before {
				content: "\00a0";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 50px;
				height: 50px;
				background-image: url('icons/icons_large.png');
				background-position: 0 0;
				z-index: -1;
			}

			&:hover {
				background-color: darken(#303030, 10%);

				&:before {
					background-position-x: -50px;
				}
			}

			&.active {
				color: #82ba27;
				font-weight: bold;
				cursor: auto;
				background-color: darken(#303030, 10%);

				&:before {
					background-position-x: -50px;
				}
			}

			&.disabled {
				color: mix(#dddddd, #303030, 0.35);
				pointer-events: none;

				&:before {
					background-position-x: -100px;
				}
			}
		}
	}

	#ic_button_advanced,
	#ic_button_backup,
	#ic_button_replicate {
		&.disabled {
			display: none;
		}
	}

	body.advanced & #ic_button_advanced {
		text-decoration: underline;
	}

	#ic_button_add:before {
		background-position-y: -50px;
	}

	#ic_button_edit:before {
		background-position-y: -100px;
	}

	#ic_button_test:before {
		background-position-y: -150px;
	}

	#ic_button_report:before {
		background-position-y: -200px;
	}

	#ic_button_marking:before {
		background-position-y: -200px;
	}

	#ic_button_save:before {
		background-position-y: -250px;
	}

	#ic_button_search:before {
		background-position-y: -300px;
	}

	#ic_button_export:before {
		background-position-y: -350px;
	}

	#ic_button_publish:before {
		background-position-y: -350px;
	}

	#ic_button_launch:before {
		background-position-y: -400px;
	}

	.ui-buttonset {
		display: inline-block;
		margin: 0;

		.ui-button {
			margin-left: 0;
			margin-right: 0;

			& ~ .ui-button {
				margin-left: -1px;
			}
		}
	}

	hr {
		display: inline-block;
		width: 8px;
	}

	> button {
		float: right;
		margin-right: 0.5em;
	}
}

#footer {
	font-size: 16px;
	height: 1.5em!important;
	text-align: left;
	padding: 0.25em 0.5em;
	border-right: none;
	border-bottom: none;
	border-left: none;
	overflow: hidden;
	z-index: 101 !important;
}

#ic_properties {
	font-size: 14px;
	padding: 0.5em;
	overflow-y: auto;

	section > div {
		position: relative;
		margin-bottom: 0.5em;

		span {
			position: relative;
			background: #a2a2a2;
			padding-right: 0.3em;
		}

		&:before {
			content: "";
			border-top: 1px solid currentColor;
			margin: 0 auto; /* this centers the line to the full width specified */
			position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
			top: 50%; left: 0; right: 0; bottom: 0;
			width: 100%;
		}
	}

	.template {
		position: relative;
		display: flex;
		border-radius: 3px;
		border: 1px solid #c5c5c5;
		align-content: stretch;
		overflow: hidden;
		min-height: 0.5em;
		z-index: 0;

		&:not(.grow):not(.shrink) {
			background: white;
		}

		> .fa {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 auto;
			background: #c8c8c8;
			font-size: 2em;
			text-align: center;
			padding: 0.1em;
			text-shadow: 0 0 2px white;
			width: 1em;
			line-height: 1;
			height: auto;
			box-sizing: content-box;
		}

		> .fa-stack {
			border-right: inherit;

			> .fa-minus-circle {
				color: red;
				transition: transform 1s;
				cursor: not-allowed;
			}

			> .fa-circle {
				color: white;
			}

			+ div {
				display: flex;
				align-items: center;
				background: red;
				color: white;
				font-weight: bold;
				width: 0;
				flex: 0 0 0;
				cursor: pointer;
				transition: width 0.4s;
			}

			&:hover > .fa-minus-circle {
				transform: rotateZ(180deg);
			}

			+ div:hover,
				&:hover + div {
				width: 4em;
				transition: width 0.4s 1s;
			}
		}

		> .fa-bars {
			cursor: move;
		}

		> .fa-bars,
		> .fa-random {
			color: #7e7e7e;
			border-left: inherit;
		}

		&.repeat {
			background: #f6f6f6;
		}

		body:not(.advanced) & {
			&.title {
				> div:not(.delete) {
					> p:not(.editable) {
						display: none;
					}
				}
			}

			> div > div > label.shrink {
				display: none;
			}

			&.repeat,
			&.shrink,
			&.grow {
				border: none;

				> div:not(.delete) {
					> div > label > span:first-child,
						> p:not(.editable) {
						display: none;
					}

					> div > div.title > div > p {
						display: block;
					}

					> div {
						padding: 0.25em;
						display: flex;
						align-items: baseline;
					}
				}
			}

			&.grow {
				flex: 1 1 auto;
			}
		}

		&.grow > div > div > label {
			width: 100%;
		}

		> div.delete {
			z-index: -1;
		}

		> div:not(.delete) {
			flex: 1 1 auto;

			> p {
				padding: 0 0.5em;
				border-bottom: inherit;
				background: #e9e9e9;
				font-weight: bold;
				line-height: 2;
			}

			> div {
				padding: 0.5em;
				min-height: 1em;
				color: #333333;

				> label {
					display: flex;
					align-items: baseline;

					> * {
						flex: 1 1 auto;
					}

					> span:first-child,
						> input[type='checkbox'] {
						flex: 0 0 auto;
						padding-right: 0.5em;
					}

					> p {
						display: inline-block;
						padding: 4px;
						border: 1px solid #bbb;
						border-radius: 3px;
						color: #000;
						background-color: #fff;
						line-height: normal;

						&.mce-edit-focus {
							outline: #72b2ff auto 5px;
						}
					}

					body.advanced & + * {
						margin-top: 0.5em;
					}
				}


				&:empty {
					display: none;
				}
			}
		}

		/*		&.repeat {
					padding-top: 0;

					p > span,
					div > label > span {
						display: none;
					}

					div {
						display: inline-flex;
					}
				}*/

		&.active {
			border-color: #007fff;

			> .fa,
			> div > p {
				background: #409fff;
			}

			> div > p {
				color: white;
			}
		}

		+ .template {
			margin-top: 0.5em;
		}
	}

	ul {
		padding-left: 0.5em;
		list-style: none;
	}

	tr + tr > td {
		margin-top: 0.25em;
	}

	li {
		padding-bottom: 0.25em;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		opacity: 1;
	}

	input[type="checkbox"]:first-child {
		margin-left: 0;
		margin-right: 0.3em;
		vertical-align: text-bottom;
	}

	input[data-digits="2"] {
		max-width: 2em;
	}

	input[data-digits="3"] {
		max-width: 3em;
	}

	input[data-digits="4"] {
		max-width: 4em;
	}

	input[data-digits="5"] {
		max-width: 5em;
	}

	.indent {
		padding-left: 1.5em;
	}

	.disabled {
		color: mix(#362b36, #a2a2a2);
		display: none;
	}
}

#organisation {
	button {
		display: block;
		width: 100%;
		text-align: left;

		.fa:first-child {
			margin-right: 0.3em;
		}

		.ui-button-text > .right {
			float: right;

			span {
				margin-left: 0.2em;

				&:hover {
					color: mix(#2779aa, black);
				}
			}
		}
	}

	> button {
		margin-top: 0.2em;
		text-transform: capitalize;
		text-align: center;
	}

	> div {
		width: 98%;
		text-align: left;
		margin: 0 auto 4px auto;
		padding: 4px;
		background: white;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;

		> button {
			width: 300px;
			display: inline-block;
			margin: 2px 1px;
		}

		> div {
			text-align: left;
			margin-bottom: 2px;

			label {
				vertical-align: -0.2em;
			}

			button {
				display: inline-block;
				width: auto;
				margin-left: 0.3em;
			}
		}
	}

	.user {
		.ui-widget-content {
			margin-top: 0.25em;
			margin-bottom: 0.25em;
		}

		> div > .ui-button {
			display: block;
		}
	}

	.aba-edit-panel {
		width: 98%;
		margin: 0 auto 0.2em auto;
		border-top: 0;
		display: none;
	}
}

#user_display {
	text-align: left;
	font-size: 14px;

	hr {
		border-top: 1px solid #ddd;
		margin: 0.6em 0;
	}

	.ui-button-text {
		width: 13em;
		text-align: left;

		.fa {
			width: 1em;

			+ span {
				font-weight: normal;
				margin-left:0.5em;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

body > .ui-dialog > .ui-dialog-titlebar > .ui-dialog-titlebar-close {
	display: none;
}

.hidden {
	display: none !important;
}

.ui-tooltip {
	text-align: left;
	max-width: 10%;
	margin: 0.5em 0.25em;

	ul, ol {
		margin-left: 1em;
	}
}

.ui-dialog {
	font-size: 12px;

	select {
		padding: 0.4em 1em;
	}

	input,
	select,
	label.ui-button {
		margin-right: 0.4em;
		margin-bottom: 0.4em;
	}

	.ui-dialog-titlebar {
		margin: -0.2em;
		margin-bottom: 0;
		border-left: none;
		border-top: none;
		border-right: none;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		text-align: left;
	}
}

/*
 *	PANES & CONTENT-DIVs
 */
.ui-layout-pane { /* all 'panes' */
	overflow: visible;
	/* DO NOT add scrolling (or padding) to 'panes' that have a content-div,
	   otherwise you may get double-scrollbars - on the pane AND on the content-div
	   - use ui-layout-wrapper class if pane has a content-div
	   - use ui-layout-container if pane has an inner-layout
	*/
}
/* (scrolling) content-div inside pane allows for fixed header(s) and/or footer(s) */
.ui-layout-content {
	padding:	10px;
	position:	relative; /* contain floated or positioned elements */
	overflow:	auto; /* add scrolling to content-div */
}

/*
 *	UTILITY CLASSES
 *	Must come AFTER pane-class above so will override
 *	These classes are NOT auto-generated and are NOT used by Layout
 */
.layout-child-container,
.layout-content-container {
	padding:	0;
	overflow:	hidden;
}
.layout-child-container {
	border:		0; /* remove border because inner-layout-panes probably have borders */
}
.layout-scroll {
	overflow:	auto;
}
.layout-hide {
	display:	none;
}

/*
 *	RESIZER-BARS
 */
.ui-layout-resizer	{ /* all 'resizer-bars' */
	background: #494949;
	border: 1px solid #494949;
	border-width: 0;
}
.ui-layout-resizer-drag {		/* REAL resizer while resize in progress */
}
.ui-layout-resizer-hover	{	/* affects both open and closed states */
}
/* NOTE: It looks best when 'hover' and 'dragging' are set to the same color,
	otherwise color shifts while dragging when bar can't keep up with mouse */
.ui-layout-resizer-open-hover ,	/* hover-color to 'resize' */
.ui-layout-resizer-dragging {	/* resizer beging 'dragging' */
	background: mix(#82ba27, #EBD5AA);
}
.ui-layout-resizer-dragging {	/* CLONED resizer being dragged */
	border: 	 1px solid mix(#82ba27, #EBD5AA);
}
.ui-layout-resizer-north-dragging,
.ui-layout-resizer-south-dragging {
	border-width:	1px 0;
}
.ui-layout-resizer-west-dragging,
.ui-layout-resizer-east-dragging {
	border-width:	0 1px;
}
/* NOTE: Add a 'dragging-limit' color to provide visual feedback when resizer hits min/max size limits */
.ui-layout-resizer-dragging-limit {	/* CLONED resizer at min or max size-limit */
	background: mix(#494949, #E1A4A4); /* red */
}

.ui-layout-resizer-closed-hover	{ /* hover-color to 'slide open' */
	background: mix(#82ba27, #EBD5AA);
}
.ui-layout-resizer-sliding {	/* resizer when pane is 'slid open' */
	opacity: .10; /* show only a slight shadow */
	filter:  alpha(opacity=10);
}
.ui-layout-resizer-sliding-hover {	/* sliding resizer - hover */
	opacity: 1.00; /* on-hover, show the resizer-bar normally */
	filter:  alpha(opacity=100);
}
/* sliding resizer - add 'outside-border' to resizer on-hover
 * this sample illustrates how to target specific panes and states */
.ui-layout-resizer-north-sliding-hover	{ border-bottom-width:	1px; }
.ui-layout-resizer-south-sliding-hover	{ border-top-width:		1px; }
.ui-layout-resizer-west-sliding-hover	{ border-right-width:	1px; }
.ui-layout-resizer-east-sliding-hover	{ border-left-width:	1px; }

/*
 *	TOGGLER-BUTTONS
 */
.ui-layout-toggler {
	background-color: transparent;

	&:after {
		content: "\00a0";
		position: absolute;
		top: 20%;
		right: 2px;
		bottom: 20%;
		left: 2px;
		border-left: 2px dotted #282828;
	}
}
.ui-layout-resizer-hover .ui-layout-toggler {
	opacity: .60;
	filter:  alpha(opacity=60);
}
.ui-layout-toggler-hover , /* need when NOT resizable */
.ui-layout-resizer-hover .ui-layout-toggler-hover { /* need specificity when IS resizable */
	opacity: 1.00;
	filter:  alpha(opacity=100);
	&:after {
		border-color: #82ba27;
	}
}
.ui-layout-toggler-north ,
.ui-layout-toggler-south {
	border-width: 0 1px; /* left/right borders */
}
.ui-layout-toggler-west ,
.ui-layout-toggler-east {
	border-width: 1px 0; /* top/bottom borders */
}
/* hide the toggler-button when the pane is 'slid open' */
.ui-layout-resizer-sliding  .ui-layout-toggler {
	display: none;
}
/*
 *	style the text we put INSIDE the togglers
 */
.ui-layout-toggler .content {
	color:			#666;
	font-size:		12px;
	font-weight:	bold;
	width:			100%;
	padding-bottom:	0.35ex; /* to 'vertically center' text inside text-span */
}

/*
 *	PANE-MASKS
 *	these styles are hard-coded on mask elems, but are also
 *	included here as !important to ensure will overrides any generic styles
 */
.ui-layout-mask {
	border:		none !important;
	padding:	0 !important;
	margin:		0 !important;
	overflow:	hidden !important;
	position:	absolute !important;
	opacity:	0 !important;
	filter:		Alpha(Opacity="0") !important;
}
.ui-layout-mask-inside-pane { /* masks always inside pane EXCEPT when pane is an iframe */
	top:		0 !important;
	left:		0 !important;
	width:		100% !important;
	height:		100% !important;
}
div.ui-layout-mask {}		/* standard mask for iframes */
iframe.ui-layout-mask {}	/* extra mask for objects/applets */


#ic_add_activity {
	position: relative;
	display: none;
	text-align: left;
	background: #595959 !important;

	> ul,
	> div {
		position: absolute;
		display: block;
		top: 1em;
		bottom: 1em;
		border: 1px solid darken(#494949, 10%);
		box-shadow: inset 0 0 1px darken(#494949, 10%);
		overflow-y: auto;
	}

	> ul {
		width: 14.5em; // calc(16em - 1.5em);
		list-style: none;
		left: 1em;
		background: #a2a2a2;

		> li {
			position: relative;
			line-height: 2em;
			cursor: pointer;
			border-top: 1px solid lighten(#494949, 10%);
			border-bottom: 1px solid darken(#494949, 10%);
			color: darken(#dddddd, 20%);
			background: #494949;
			padding: 0 1em;

			&:hover {
				color: #dddddd;
				background: darken(#494949, 10%);
			}

			&.active {
				color: #dddddd;
				font-weight: bold;
				cursor: default;
				pointer-events: none;

				&:before {
					content: "\00a0";
					position: absolute;
					top: 0;
					left: 0;
					width: 0.4em;
					height: 2em;
					background: #82ba27;
				}
			}
		}
	}

	> div {
		right: 1em;
		width: calc(100% - 17.5em); // 14.5em + 3em
		padding: 1em 2em;
		background: white;

		> div {
			display: none;
			height: 100%;

			p {
				font-size: 1.5em;
				font-weight: bold;
				text-align: center;
				padding: 0 0.5em 0.5em;
			}

			hr {
				margin-bottom: 0.5em;
				border-top: 1px solid darken(#a2a2a2, 10%);
				border-bottom: 1px solid lighten(#a2a2a2, 10%);
			}

			.template {
				position: relative;
				display: inline-block;
				text-align: center;
				width: 320px;
				box-sizing: content-box;
				padding: 0.5em;
				cursor: pointer;
				border-radius: 0.5em;
				vertical-align: top;

				> span {
					display: block;

					&:first-child {
						height: 1em;
						font-weight: bold;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						transform: translateZ(0);
					}

					&:last-child {
						font-size: 0.8em;
						text-align: left;
						color: #494949;
					}
				}

				> div {
					width: 320px;
					height: 200px;
					margin: 0.5em 0;
					box-shadow: 0 0 2px 1px #494949;
					overflow: hidden;

					> img {
						display: block;
						width: 100%;
					}
				}

				&:hover {
					box-shadow: inset 0 0 1px 1px #494949;
					background: lighten(#a2a2a2, 10%);

					> span:first-child {
						white-space: normal;
						overflow: visible;

						> span {
							text-shadow: 0 2px 2px lighten(#a2a2a2, 10%),0 -2px 2px lighten(#a2a2a2, 10%),2px 0 2px lighten(#a2a2a2, 10%),-2px 0 2px lighten(#a2a2a2, 10%);
						}
					}
				}
			}
		}
	}
}

#ic_popup_export textarea {
	font-size: 14px;
}

#children-box + .ui-dialog-buttonpane .ui-dialog-buttonset button:first-child {
	margin-right: 6em;
}

#children-box + .ui-dialog-buttonpane .ui-dialog-buttonset button:last-child {
	margin-left: 6em;
}

#center {
	position: relative;
	overflow: visible;
	box-shadow: inset 0px 0px 4px 1px black;
	flex-direction: column;
	display: flex;

	> div {
		position: relative;
		display: none;
		padding: 10px;
		width: 100%;
		height: 80%;
		flex: 0 0 0;
		box-sizing: border-box;
	}
}

#aba #abc {
	margin: 0 auto;
	box-shadow: 0 0 2px 1px black;
	width: 100%;
	height: 100%;

	.abc {
		overflow: hidden;
	}

	&:not(.running) {
		.abc-content {
			.mce-content-body {
				outline: 1px dotted red !important;
			}

			.abc-minidot {
				position: absolute;
				display: block;
				margin: -0.25em;
				height: 0.5em;
				width: 0.5em;
				color: blue;
				background: white;
				border: 1px solid currentColor;
				border-radius: 10%;
				z-index: 10;
				cursor: move;
			}

			.abc-answer {
				opacity: 0.5;
			}
		}

		.abc-list > li:before {
			background-color: rgba(0, 0, 0, 0.1);
			border-radius: 0.1em;
		}
	}

	.abc-footer {
		position: absolute !important;
	}

	.abc-content.abc-link > div {
		position: absolute;
		left: 0;
		right: 0;
		top: 10%;
		height: 1.5em;
		margin-top: -0.5em;
		text-align: center;
		font-size: 2em;
		line-height: 1.5em;

		> span {
			padding: .25em .5em;
			background: rgba(242, 245, 247, 0.8);
			border: 2px solid #aed0ea;
			border-radius: 0.25em;
			text-shadow: 0 0 0.1em white;
		}
	}
}

.red {
	color: red !important;
}

#ic_dialog {
	> span > i {
		display: inline-block;
		white-space: normal;
		max-width: 50vw !important;
		font-size: 1rem;
		font-weight: normal;
		margin: 1em auto 0.5em auto;
	}

	textarea {
		margin: 0.5em auto !important;
		max-width: 50vw !important;
		min-width: 25vw !important;
		resize: horizontal;
	}
}

#bbcode {
	background: #eee;
	padding: 0.5em;

	> p {
		font-size: 1.5em;
		font-weight: bold;
		margin-bottom: 0.25em;
		color: darkgreen;

		~ p {
			margin-top: 0.5em;
		}
	}

	b {
		user-select: all;
		color: darkred;
	}

	i {
		color: darkblue;
	}

	li {
		margin-left: 1.5em;
		list-style: disc;
	}

	> * {
		width: 100%;
	}
}

#export-box, #inherit-box, #paste-box, #children-box {
	position: relative;
	width: 100%;
	z-index: 0;

	> div {
		background: transparent;
		width: 100%;
		height: 100%;
		padding: 0;
		resize: none;
		text-align: left;
	}

	&:before {
		position: absolute;
		color: #aaa;
		font-style: italic;
		top: 0.1em;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: -1;
	}
}

#export-box {
	margin-top: 1%;
	height: 66%;
	background: mix(white, green, 90%);

	&:before {
		content: "Activity (editable)"
	}
}

#inherit-box {
	resize: none;
	height: 33%;
	background: mix(white, red, 90%);

	&:before {
		content: "Inherited (read-only)"
	}
}

#paste-box {
	height: 100%;
	background: mix(white, green, 90%);

	&:before {
		content: "Copy / Paste"
	}
}

#children-box {
	resize: none;
	background: mix(white, red, 90%);
}

.ace_content {
	text-align: left;
}

.webapp {
	#header {
		height: 54px;
		padding-top: 21px;
	}
}

#ic_export_options {
	text-align: left;
	font-weight: normal;
	font-size: 0.75em;

	select, input {
		border-radius: 6px;
		border: 1px solid #aed0ea;
		padding: 0.25em 0.5em;
	}

	th {
		font-weight: bold;

		&:after {
			content: ":\00A0";
		}
	}
}

#abc input[type=number] {
	max-width: 1.5em;
	border: 1px solid #aed0ea;
	border-radius: 0.2em;
	text-align: right;
}

.fullscreen {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

.ui-loading {
	position: fixed;
	font-size: 25vh;
	text-shadow: 0 0 0.1em white;
	top: calc(50% - 0.5em);
	left: calc(50% - 0.5em);
	width: 1em;
	height: 1em;
	line-height: 1em;
	color: black;
	z-index: 200;
}

#ic_settings > .ui-widget-content.disabled {
	position: relative;

	&:before {
		content: "\00a0";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
		background: #666 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAQMAAAC2MCouAAAABlBMVEV1dXVmZmZId6VyAAAAT0lEQVQI18XNsRGAMAzFUHEUlIzAKBktjMYoGSFlilyMNQA17dc7m2NSH85B3Fx9CyhtX+SYJccshIVlYVoYFuQX8oK8Ig++Dsk78vbX3xcjHFmnR7q/vwAAAABJRU5ErkJggg") 50% 50% repeat;
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.aba-text-edit.cke_focus {
	outline: 1px solid white;
	box-shadow: 0 0 3px 2px black;
}


.abc .abc-freeflow > div {
	display: block;
}

section.disabled {
	display: none;
}

/*TODO: Remove when dropdown*/
.cke_button__infuze,
.cke_button__header,
.cke_button__section,
.cke_button__footer,
.cke_button__activity,
.cke_button__activities,
.cke_button__box,
.cke_button__button,
.cke_button__draggable,
.cke_button__droppable,
.cke_button__dropdown,
.cke_button__nav,
.cke_button__pin,
.cke_button__pins,
.cke_button__question,
.cke_button__screen,
.cke_button__screens,
.cke_button__toggle,
.cke_button__timer,
.cke_button__text {
	display: none !important;

	/*	>  .cke_button_icon {
			display: none;
		}*/

	/*	> .cke_button_label {
			display: inline;
		}*/
}

textarea.cke_source {
	height: 100% !important;
	overflow: auto;
}

#report_popup {
	height: 100%;
	background: white;
	color: black;
	padding: 0.5em 5em;
	overflow-y: auto;

	table {
		width: 100%;
		border-collapse: collapse;
		counter-reset: report;
		user-select: all;

		&:focus {
			background: white;
			color: black;
		}

		thead {
			font-weight: bold;
			line-height: 2;
			z-index: 5;

			td {
				position: sticky;
				background: #303030;
				color: #dddddd;
				top: -0.5em;
			}
		}

		td {
			text-align: left;
			background: white;
			color: black;
			border: 1px dotted #aaa;
			padding: 0.1em 0.5em;
		}

		tbody td:first-child::before {
			position: relative;
			display: inline-block;
			counter-increment: report;
			content: counter(report);
			right: 100%;
			width: 0;
		}
	}
}

#build_popup {
	height: 100%;
	background: #303030;
	color: #dddddd;
	padding: 0.5em;
	overflow-y: auto;

	table {
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;

		thead {
			position: sticky;
			font-weight: bold;
			line-height: 2;
			z-index: 5;
			top: 0;
		}

		td {
			vertical-align: middle;
			border-bottom: 1px solid #0f0f0f;

			&:first-child {
				text-align: left;
				padding: 0 1em;
			}

			&:not(:first-child) {
				text-align: center;
			}
		}

		i {
			padding-right: 0.5em;
		}

		label {
			cursor: inherit;
		}

		a {
			display: block;
			border-radius: 6px;
			text-decoration: none;
			color: inherit;
			cursor: pointer;

			&.fa {
				font-size: 3em;
				padding: 0.15em;
			}

			&:hover {
				background: #171717;
			}
		}

		tr:not(.disabled):hover {
			background: rgba(255, 255, 255, 0.05);
		}

		tr.date {
			background: rgba(255, 255, 255, 0.1);

			td[colspan="6"] {
				padding: 0;
			}

			div {
				max-height: 6em;
				overflow-y: auto;
				overflow-y: overlay;
			}

			a.fa {
				font-size: 1.5em;
			}
		}
	}

	> table > tbody {
		> tr.disabled > td,
		> tr > td.disabled,
		> tr:not([title]) > td:not(:nth-child(2)) {
			> a.fa {
				pointer-events: none;
				opacity: 0.2;
			}
		}
	}
}

#ic_components {
	display: block;
	//background-color: #269;
    //background-image: linear-gradient(#fff 1px, transparent 1px),linear-gradient(90deg, #fff 1px, transparent 1px),linear-gradient(rgba(255,255,255,0.3) 1px, transparent 1px),linear-gradient(90deg, rgba(255,255,255,0.3) 1px, transparent 1px);
    //background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB2ZXJzaW9uPSIxLjEiIHN0cm9rZS13aWR0aD0iMSIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIiBzdHJva2U9IiNmZmYiPjxwYXRoIG9wYWNpdHk9IjAuMyIgZD0iTTIwIDBsMCAxMDBNNDAgMGwwIDEwME02MCAwbDAgMTAwTTgwIDBsMCAxMDBNMCAyMGwxMDAgME0wIDQwbDEwMCAwTTAgNjBsMTAwIDBNMCA4MGwxMDAgMCIvPjxwYXRoIGQ9Ik0wIDBsMTAwIDBNMCAwbDAgMTAwIi8+PC9zdmc+Cg==');
    //background-size: 10vmin 10vmin;
    //background-size: 100px 100px;
	text-align: center;
    background: #494949;
	overflow-y: auto;
}

.component {
    position: relative;
    display: inline-block;
    /*background: #636363;*/
    border: 1px solid #999;
    border-radius: 5px;
    margin: 2px;
    width: 115px;
    height: 70px;
    cursor: grab;

	> div {
		position: relative;
		width: 100%;
		height: calc(100% - 1.75em);
		text-align: left;
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 85%;
		overflow: hidden;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		pointer-events: none;
	}

	&.media {
		> div {
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			audio,
			video {
				pointer-events: none;

				//&::-webkit-media-controls-panel,
				&::-webkit-media-controls-mute-button,
				//&::-webkit-media-controls-play-button,
				&::-webkit-media-controls-timeline-container,
				&::-webkit-media-controls-current-time-display,
				&::-webkit-media-controls-time-remaining-display,
				//&::-webkit-media-controls-timeline,
				&::-webkit-media-controls-volume-slider-container,
				&::-webkit-media-controls-volume-slider,
				&::-webkit-media-controls-seek-back-button,
				&::-webkit-media-controls-seek-forward-button,
				&::-webkit-media-controls-fullscreen-button,
				&::-webkit-media-controls-rewind-button,
				&::-webkit-media-controls-return-to-realtime-button,
				&::-webkit-media-controls-toggle-closed-captions-button {
					display: none;
				}
			}
		}

		> h3 > span {
			display: none;
		}
	}

	> h3 {
		/* border-top: inherit; */
		width: 100%;
		height: 2em;
		color: #dddddd;
		font-size: 14px;
		line-height: 1.25;
		pointer-events: none;
	}

	&.ui-draggable-dragging {
		position: fixed;
	}

	&:hover {
		background: #636363;
		border-color: black;
	}
}