/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

*:not(.ic-line) {
	/* We do very little inside, but need this to get document.elementFromPoint() */
	pointer-events: all !important;
}

p[id]:hover {
	outline: 1px dashed rgba(0, 0, 255, 0.3);
	outline-offset: -1px;
}

body {
	background-color: #d2e0eb; //#269;
	background-image: linear-gradient(white 1px, transparent 1px),
		linear-gradient(90deg, white 1px, transparent 1px),
		linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}

ic-toggle[data-json*='"answer":"checked"'] {
	&:before {
		content: "\00a0";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: inherit;
		background: rgba(0, 255, 0, 0.1) !important;
		background-image: linear-gradient(45deg, rgba(0, 255, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 255, 0, 0.1) 75%, rgba(0, 255, 0, 0.1)),
			linear-gradient(-45deg, rgba(0, 255, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 255, 0, 0.1) 75%, rgba(0, 255, 0, 0.1)) !important;
		background-size: 1rem 1rem !important;
		pointer-events: none;
	}
}

iframe {
	pointer-events: none !important;
}

#ic_context_menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 14px;
	line-height: 1.7;
	font-family: Segoe UI, sans-serif;
	color: black;
	z-index: 100;

	> div {
		display: inline-block;
		margin: 0;
		border: 1px solid #bbb;
		padding: 2px 0;
		background: white;
		box-shadow: 5px 5px 2px -3px #777;
		min-width: 10em;
		width: auto;
		height: auto;
		cursor: default;

		ul {
			margin: 0;
			border: none;
			padding: 0;

			> li {
				margin: 0;
				border: none;
				padding: 0;

				&:before,
					&:after {
					content: none;
				}

				hr {
					margin: 0.25em 0;
					border: none;
					padding: 0;
					height: 1px;
					width: 100%;
					background: #ddd;
				}

				span {
					padding: 0 1em;
				}

				a {
					position: relative;
					display: block;
					padding: 0 1em;

					> span {
						position: absolute;
						right: 0.25em;
					}

					> ul {
						position: absolute;
						display: inline-block;
						top: 0;
						left: 80%;
						margin: 0;
						border: 1px solid #bbb;
						padding: 2px 0;
						background: white;
						box-shadow: 5px 5px 2px -3px #777;
						min-width: 10em;
						z-index: 1;
						color: black;
					}

					&:hover {
						background: #3e82f7;
						color: white;
					}

					&:not(:hover) > ul {
						display: none;
					}
				}
			}
		}
	}
}

/*.ice-select {
	outline: 2px dotted red;
	outline-offset: -2px;
}*/
