/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

body {
	background: transparent;
	box-shadow: 0 0 4px #494949;

	> * {
		background: white;
	}
}

ic-screen > *:not([ic-columns]),
ic-screen > *[ic-columns] > * {
	border: 2px dashed green;
    background: white;
}
