/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_borders") {
	.ict-borders-none {
	}

	.ict-borders-all {
		border: $ict-borders
	}

	.ict-borders-horizontal,
	.ict-borders-top {
		border-top: $ict-borders
	}

	.ict-borders-vertical,
	.ict-borders-left {
		border-left: $ict-borders
	}

	.ict-borders-vertical,
	.ict-borders-right {
		border-right: $ict-borders
	}

	.ict-borders-horizontal,
	.ict-borders-bottom {
		border-bottom: $ict-borders
	}
}
