/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_columns") {
	.ict-column-gap.ict-columns-2 {
		> * {
			width: 40%;

			&:first-child {
				margin-right: 10%;
			}

			&:last-child {
				margin-left: 10%;
			}
		}
	}
}
