/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_corners") {
	.ict-corners-none {
	}

	.ict-corners-all {
		border-radius: $corner-radius;
	}

	.ict-corners-top {
		border-top-left-radius: $corner-radius;
		border-top-right-radius: $corner-radius;
	}

	.ict-corners-left {
		border-top-left-radius: $corner-radius;
		border-bottom-left-radius: $corner-radius;
	}

	.ict-corners-right {
		border-top-right-radius: $corner-radius;
		border-bottom-right-radius: $corner-radius;
	}

	.ict-corners-bottom {
		border-bottom-left-radius: $corner-radius;
		border-bottom-right-radius: $corner-radius;
	}
}
