/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_fonts") {
	.ict-fontsize-xx-small {
		font-size: 60%;
	}

	.ict-fontsize-x-small {
		font-size: 75%;
	}

	.ict-fontsize-small {
		font-size: 88%;
	}

	.ict-fontsize-large {
		font-size: 120%;
	}

	.ict-fontsize-x-large {
		font-size: 150%;
	}

	.ict-fontsize-xx-large {
		font-size: 200%;
	}

	/* TODO: Remove FontAwesome and use custom widgets for navigation instead */
	@font-face {
		font-family: 'FontAwesome';
		src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.eot?v=4.6.3');
		src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),
			url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),
			url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),
			url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),
			url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
		font-weight: normal;
		font-style: normal
	}


	@font-face {
		font-family: 'Sassoon';
		src: url('SassoPri.woff') format('woff'),
			url('SassoPri.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Sassoon';
		src: url('SassoPriBol.woff') format('woff'),
			url('SassoPriBol.ttf') format('truetype');
		font-weight: bold;
		font-style: normal
	}
	@font-face {
		font-family: 'Sassoon';
		src: url('SassoPriMed.woff') format('woff'),
			url('SassoPriMed.ttf') format('truetype');
		font-weight: 500;
		font-style: normal
	}

	/* Script text fonts */
	@font-face {
		font-family: 'OpenSans';
		src: url('OpenSans-Regular.woff') format('woff'),
			url('OpenSans-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'OpenSans';
		src: url('OpenSans-Bold.woff') format('woff'),
			url('OpenSans-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal
	}

	/* Nav Panel fonts */
	@font-face {
		font-family: 'Oxygen';
		src: url('Oxygen-Regular.woff') format('woff'),
			url('Oxygen-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Oxygen';
		src: url('Oxygen-Bold.woff') format('woff'),
			url('Oxygen-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal
	}
	@font-face {
		font-family: 'Oxygen';
		src: url('Oxygen-Light.woff') format('woff'),
			url('Oxygen-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal
	}
}
