/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-droppable") {
	.ict-droppable:not(.ict-droppable-gap):not(.ict-droppable-gap-pool) {
		//background-color: $ict-anchor-default;
		//background-color: white;
		//background-color: lighten( $ict-colour-dark, 10% );

		font-size: $ict-droppable-size;
		text-align: center;

		&:not(.ict-borders-none) {
			box-shadow: inset 0px 0px 0px 2px $ict-colour-dark;
			/* box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.4);*/
		}

		&:not(.ict-corners) {
			@extend .ict-corners-all;
		}

		> .ict-draggable > p {
			padding: 0.25em 0.5em;
			display: block;
			text-align: center;
			width: 100%;
		}

		> p {
			padding: 0.25em 0.5em;
			display: block;
			text-align: center;
			width: 100%;
		}

		/* This is the drop area in the text */
		p & {
			background: rgba(white, 0.5);
			font-size: inherit;

			&:not(.ict-corners) {
				border-radius: $button-radius;

			}
		}


		/* &.ict-state-disabled {
		box-shadow: inset 0 3px 5px 0 rgba(0,0,0,0.2);
		background-color: rgba(255,255,255,.5);
		} */

		&.ict-state-empty {
			&::before {
				/*content: "Drop here";*/
				/*padding: 0.3em 0.8em;*/
				/*line-height: 1em;*/
				/*font-weight: 500;*/
				/*color: rgba(black,0.3);*/
			}
		}

		&.ict-state-empty {
			//background-color: white;
			//background-color: lighten( $ict-colour-dark, 15% );
			&:not(.ict-state-disabled):hover {
				//background-color: lighten( $ict-colour-dark, 5% );
				//background-color: rgba(0,0,0,0.1);
				//background-color: #dd983a;
			}

			> .ict-pins {
				.ict-pin {
					background-color: rgba(0,0,0,0);
					box-shadow: none;
				}
			}
		}

		&.ict-droppable-color {
			//:not(.ict-state-empty) {
			&.ict-droppable-0 {
				@include droppable($ict-colour-0);
			}
			&.ict-droppable-1 {
				@include droppable($ict-colour-1);
			}
			&.ict-droppable-2 {
				@include droppable($ict-colour-2);
			}
			&.ict-droppable-3 {
				@include droppable($ict-colour-3);
			}
			&.ict-droppable-4 {
				@include droppable($ict-colour-4);
			}
			&.ict-droppable-5 {
				@include droppable($ict-colour-5);
			}
			&.ict-droppable-6 {
				@include droppable($ict-colour-6);
			}
			&.ict-droppable-7 {
				@include droppable($ict-colour-7);
			}
			&.ict-droppable-8 {
				@include droppable($ict-colour-8);
			}
			&.ict-droppable-9 {
				@include droppable($ict-colour-9);
			}
		}

		&.ict-droppable-horizontal,
		&.ict-droppable-vertical,
		&.ict-droppable-position {
			> .ict-draggable {
				position: absolute;
			}

			> .ict-pins {
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}

		&.ict-droppable-display-match {
			//background-color:white;
			//box-shadow:none;
			//&:not(.ict-corners) {
			//border-radius: 0.3em;
			//}
			//border:2px solid #777;
		}
	}

	.ict-droppable-gap-pool ~ p {
		line-height: 2.1;
		/*line-height: 2.1em;*/
	}

	/* This is the drop that houses all the drags (top of screen) */
	.ict-droppable-gap-pool {
		text-align: left;
		width: 100%;
		margin-bottom: 1em;
		border-radius: $button-radius;

		> .ict-draggable {
			width: auto;
			display: inline-block;

			+ .ict-draggable {
				margin-left: 0.5em;
			}
		}
	}

	.ict-droppable-layout-block {
		background-color:transparent!important;
		box-shadow: none!important;

		>.ict-draggable:not(:last-child) {
			margin-bottom: 0.3em;
		}
	}
}