/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-screen") {
	.ict-screen {
		/*padding: 1em 1em 1em 1em;*/
		padding: 0.5rem 0;
		display: flex;
		flex-direction: column;

		> *:not(:last-child) {
			flex: 0 0 auto;
		}

		> *:last-child {
			flex: 1 0 auto;
		}
	}
}
