/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-feedback") {
	/* Feedback Text */
	.ict-feedback {
		background: rgba(0, 0, 0, 0.3);
		z-index: 100;
	}
}
