/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-anchor") {
	.ict-anchor {
		position: absolute;
		left: 0.5em;
		top: 0.5em;
		line-height: 2;
		/*line-height: 2em;*/
		font-size: 2rem;
		font-family: $ict-font-stack;
		font-weight:bold;

		&::before {
			content: attr(ic-anchor);
			display: inline-block;
			margin-right: 5px;
			text-shadow: 0 1px 0 rgba(black,0.2);
			font-weight: bold;

			@include ict-circle(1.5em, #000);
			@include ict-default-shadow;

			//@include ict-single-grad (darken( $ict-anchor-default, 15% ), $ict-anchor-default);
			background: $ict-anchor-default linear-gradient(to bottom, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 51%);
			@include ict-anchor-button-inset (lighten( $ict-anchor-default, 10% ));
			color: white;
			vertical-align: top;
		}

		&.ict-state-attempted::before {
			//@include ict-single-grad (darken( $ict-anchor-attempted, 15% ), $ict-anchor-attempted);
			background: $ict-anchor-attempted linear-gradient(to bottom, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 51%);
			@include ict-anchor-button-inset (lighten( $ict-anchor-attempted, 10% ));
			color: white;
		}

		&.ict-state-active::before {
			//@include ict-single-grad (darken( $ict-anchor-active, 10% ), $ict-anchor-active);
			background: $ict-anchor-active linear-gradient(to bottom, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 51%);
			@include ict-anchor-button-inset (lighten( $ict-anchor-active, 0% ));
			color: $ict-nav-colour;
		}
	}
}
