/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-activity") {
	.ict-screen > .ict-activities,
	.ict-screen > .ict-activity {
		padding: 0.9rem 1.4rem 1.4rem 6rem;
		background-color: $ict-colour-default;
		line-height: $ict-line-height;
		border-radius: 1rem;
		border: 1px solid darken( $ict-colour-default, 20% );

		~ .ict-activities,
		~ .ict-activity {
			margin-top: 0.5em;
		}

		&.ict-state-active {
		}
	}

	.ict-screen .ict-activities,
	.ict-screen .ict-activity {
		&.ict-activity-display-horizontal {
			height: 100%;
			box-shadow: 0 8px 8px -5px rgba(0,0,0,.35);

			padding: 0.9rem 1.4rem 1.4rem 6rem;
			background-color: $ict-colour-default;
			line-height: $ict-line-height;
			border-radius: 1rem;
			border: 1px solid darken( $ict-colour-default, 20% );

			~ .ict-activities,
			~ .ict-activity {
				margin-top: 0.5em;
			}
		}

		&.ict-activity-display-vertical {
			height: 100%;
			box-shadow: 0 8px 8px -5px rgba(0,0,0,.35);
			padding: 0.9rem 1.4rem 1.4rem 6rem;
			background-color: $ict-colour-default;
			line-height: $ict-line-height;
			border-radius: 1rem;
			border: 1px solid darken( $ict-colour-default, 20% );

			~ .ict-activities,
			~ .ict-activity {
				margin-top: 0.5em;
			}
		}
	}

	.ict-activity-center {
		display: flex;
		justify-content: center;
	}

	/* GLOBAL adding render to drag/drop objects (not matching pairs)*/
	.ict-activity-type-drag {
		.ict-draggable {
			box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3),inset 0px 2px 0px 0px rgba(255, 255, 255, 0.4);
			background: linear-gradient(lighten( $ict-colour-dark, 0% ), lighten( $ict-colour-dark, 7% ));
			&.ict-state-hover {
				background: linear-gradient(lighten( $ict-colour-dark, 5% ), lighten( $ict-colour-dark, 12% ));
			}
		}

		.ict-droppable:not(.ict-droppable-gap):not(.ict-droppable-gap-pool) {
			&:not(.ict-borders-none) {
				box-shadow: inset 0 5px 7px 0 rgba(0,0,0,0.2),inset 0px 0px 0px 2px $ict-colour-dark;
				background-color: white
			}
		}
	}
}
