/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-box") {
	.ict-box {
		/*border: solid 1px #e0d8cc;*/

		&.ict-box-display-page-vertical {
			background-color: $ict-colour-default;
			border: 1px solid darken( $ict-colour-default, 20% );
			text-align:center;
			height: 100%;
			padding:0.5em 0;

			&:before, &:after {
				position: absolute;
				width: 40%;
				height: 20px;
				content: ' ';
				left: 12px;
				bottom: 12px;
				background: transparent;
				transform: skew(-4deg) rotate(-4deg);
				box-shadow: 0 13px 15px rgba(0, 0, 0, 0.3);
				z-index: -1;
			}
			&:after {
				left: auto;
				right: 12px;
				transform: skew(4deg) rotate(4deg);
			}

			> .ict-box {
				overflow-y:auto;
				padding: 0 0.7em;
				height:100%;
			}
		}

		&.ict-box-display-page-horizontal {
			background-color: $ict-colour-default;
			border: 1px solid darken( $ict-colour-default, 20% );
			text-align: center;
			height: 100%;
			padding:0.5em 0;

			&:before, &:after {
				position: absolute;
				width: 40%;
				height: 20px;
				content: ' ';
				left: 12px;
				bottom: 16px;
				background: transparent;
				transform: skew(-2deg) rotate(-2deg);
				box-shadow: 0 13px 15px rgba(0, 0, 0, 0.3);
				z-index: -1;
			}
			&:after {
				left: auto;
				right: 12px;
				transform: skew(2deg) rotate(2deg);
			}

			> .ict-box {
				overflow-y: auto;
				padding: 0 0.7em;
				height: 100%;
			}
		}

		p & {
			display: inline-block;
		}

		&.ict-box-border-1{
			border: 1px solid $ict-colour-theme-0;
		}

		&.ict-box-border-2{
			border: 2px solid $ict-colour-theme-0;
		}

		&.ict-text-indent-list {
			margin-left:2em;
			p {
				line-height: 1.6;
				/*line-height: 1.6em;*/
			}
		}

		&.ict-box-left {
			line-height: 1.5;
			/*line-height: 1.5em;*/
			text-align: left;

			display: flex;
			align-items: stretch;
			justify-content: center;
			border-top:2px solid rgba(0,0,0,.5);


			>.ict-box {
				padding: 0.5em 0;
				border-left:2px solid rgba(0,0,0,.5);
			}

			>.ict-box:first-child {
				padding: 0.5em 1em;
			}
			>.ict-box:last-child {
				border-right:2px solid rgba(0,0,0,.5);
			}

			> *:not(:first-child) {
				width: 4em;
				font-weight: bold;
				text-align:center;

			}

			&.ict-columns-2 > *:first-child {
				width: calc(100% - (1 * 4em));
			}

			&.ict-columns-3 > *:first-child {
				width: calc(100% - (2 * 4em));
			}

			&.ict-columns-4 > *:first-child {
				width: calc(100% - (3 * 4em));
			}

			&.ict-columns-5 > *:first-child {
				width: calc(100% - (4 * 4em));
			}

			&:nth-child(even) {
				&:not(:first-child){
					//background-color: $ict-colour-table;
					//border-top: 2px solid rgba(0,0,0,.5);
					//border-left: 2px solid rgba(0,0,0,.5);
				}
			}

			&:nth-child(odd) {
				&:not(:first-child) {
					//background-color: white;
					//border-top: 2px solid rgba(0,0,0,.5);
					//border-left: 2px solid rgba(0,0,0,.5);
				}
			}

			&:last-child {
				//border-bottom-left-radius: .3em;
				//border-bottom-right-radius: .3em;
				@include ict-default-shadow;
				border-bottom: 2px solid rgba(0,0,0,.5);
			}

			&:nth-child(1) {
				//border-top-left-radius: .3em;
			}

			&:first-child {
				//border-top-left-radius: .3em;
				//border-top-right-radius: .3em;
				.ict-box {
					//background-color: white;
					background-color: $ict-colour-table;
					/*&:not(:first-child) {
					background-color: white;
					}*/
				}

				/*.ict-box:nth-child(2) {
				border-top-left-radius: .3em;
				}*/

				.ict-box:last-child {
					//border-top-right-radius: .3em;
				}
			}
		}

		&.ict-box-center,
		&.ict-box-number {
			display: inline-flex;
			align-items: center;
			justify-content: center;

			> p {
				padding: 0;
			}
		}

		&.ict-box-number > .ict-text {
			text-align: center;
		}


		&.ict-box-fraction {
			display: inline-block;
			vertical-align: -0.25em;
			margin: 0 0.1em;
			width: auto;

			.ict-text {
				display: flex;
				padding:0;
				height:1.5em;
				font-size: 100%;
				text-align: center;

				&:not(.ict-corners) {
					border-radius: 0;
				}

				input[type='text'] {
					padding:0;
					height: 100%;
				}
			}

			.ict-box-number & .ict-text {
				font-size: 66%;
				text-align: center;
			}

			> * {
				display: block;
				margin: 0;
				text-align: center;
				line-height: 1;
				font-size: 0.5em;

				&:first-child:not(ic-text) {
					//padding: 0 0 0.1em 0;
					padding: 0;
					border-bottom: 1px solid currentColor;
				}
				&:last-child:not(ic-text) {
					//padding: 0.1em 0 0 0;
					padding: 0;
					border-top: 1px solid currentColor;
				}

				&.fraction-separator-small {
					height: 3px;
					margin-top: 4px;
					background-color: black;
					margin-bottom: 4px;
					margin-left: -10%;
					width: 120%;
				}

				&.fraction-separator {
					height: 3px;
					margin-top: 6px;
					background-color: black;
					margin-bottom: 6px;
					margin-left: -10%;
					width: 120%;
				}
			}
		}


		&.ict-box-before {
			padding-left: 2em;

			&:before {
				content: attr(ic-box-before);
				position: absolute;
				left: 0;
				margin-top: 0.1em;
			}
		}

		&.ict-box-table,
		&.ict-box-tablefull,
		&.ict-box-tablerow,
		&.ict-box-tablecolumn {
			text-align: center;

			> * {
				border-bottom: $ict-borders;
				border-right: $ict-borders;
				border-top: 0;
				border-left: 0;
			}

			>.ict-text {
				padding: 0;
				border-radius: 0;
			}
		}

		&.ict-box-table,
		&.ict-box-tablerow {
			&.ict-columns-2 > *:nth-child(2n+1),
				&.ict-columns-3 > *:nth-child(3n+1),
				&.ict-columns-4 > *:nth-child(4n+1),
				&.ict-columns-5 > *:nth-child(5n+1),
				&.ict-columns-6 > *:nth-child(6n+1),
				&.ict-columns-7 > *:nth-child(7n+1) {
				background: $ict-colour-table;
				font-weight: bold;
			}
		}

		&.ict-box-table,
		&.ict-box-tablefull,
		&.ict-box-tablerow,
		&.ict-box-tablecolumn {
			&.ict-columns-2 > *:nth-child(2n+1),
				&.ict-columns-3 > *:nth-child(3n+1),
				&.ict-columns-4 > *:nth-child(4n+1),
				&.ict-columns-5 > *:nth-child(5n+1),
				&.ict-columns-6 > *:nth-child(6n+1),
				&.ict-columns-7 > *:nth-child(7n+1) {
				border-left: $ict-borders;
			}
		}

		&.ict-box-table,
		&.ict-box-tablecolumn {
			&.ict-columns > *:nth-child(1),
				&.ict-columns-2 > *:nth-child(2),
				&.ict-columns-3 > *:nth-child(2),
				&.ict-columns-3 > *:nth-child(3),
				&.ict-columns-4 > *:nth-child(2),
				&.ict-columns-4 > *:nth-child(3),
				&.ict-columns-4 > *:nth-child(4),
				&.ict-columns-5 > *:nth-child(2),
				&.ict-columns-5 > *:nth-child(3),
				&.ict-columns-5 > *:nth-child(4),
				&.ict-columns-5 > *:nth-child(5),
				&.ict-columns-6 > *:nth-child(2),
				&.ict-columns-6 > *:nth-child(3),
				&.ict-columns-6 > *:nth-child(4),
				&.ict-columns-6 > *:nth-child(5),
				&.ict-columns-6 > *:nth-child(6),
				&.ict-columns-7 > *:nth-child(2),
				&.ict-columns-7 > *:nth-child(3),
				&.ict-columns-7 > *:nth-child(4),
				&.ict-columns-7 > *:nth-child(5),
				&.ict-columns-7 > *:nth-child(6),
				&.ict-columns-7 > *:nth-child(7) {
				background: $ict-colour-table;
				font-weight: bold;
			}
		}

		&.ict-box-table,
		&.ict-box-tablefull,
		&.ict-box-tablerow,
		&.ict-box-tablecolumn {
			&.ict-columns > *:nth-child(1),
				&.ict-columns-2 > *:nth-child(2),
				&.ict-columns-3 > *:nth-child(2),
				&.ict-columns-3 > *:nth-child(3),
				&.ict-columns-4 > *:nth-child(2),
				&.ict-columns-4 > *:nth-child(3),
				&.ict-columns-4 > *:nth-child(4),
				&.ict-columns-5 > *:nth-child(2),
				&.ict-columns-5 > *:nth-child(3),
				&.ict-columns-5 > *:nth-child(4),
				&.ict-columns-5 > *:nth-child(5),
				&.ict-columns-6 > *:nth-child(2),
				&.ict-columns-6 > *:nth-child(3),
				&.ict-columns-6 > *:nth-child(4),
				&.ict-columns-6 > *:nth-child(5),
				&.ict-columns-6 > *:nth-child(6),
				&.ict-columns-7 > *:nth-child(2),
				&.ict-columns-7 > *:nth-child(3),
				&.ict-columns-7 > *:nth-child(4),
				&.ict-columns-7 > *:nth-child(5),
				&.ict-columns-7 > *:nth-child(6),
				&.ict-columns-7 > *:nth-child(7) {
				border-top: $ict-borders;
			}
		}

		&.ict-box-bullet {

			> *:only-child {
				padding-left: 2em;
			}

			&.ict-columns {
				flex-wrap: nowrap;

				> *:nth-child(3n+1):not(:only-child) {
					width: 2em;
					flex: 0 0 auto;
				}

				> *:nth-child(3n+2) {
					width: auto;
					flex: 1 1 auto;
				}

				> *:nth-child(3n+3) {
					width: 8em;
					flex: 0 0 auto;
				}
			}
		}

		&.ict-box-modal {
			@include aspect-ratio();

			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 100%;
			height: 100%;
			min-width: #{$ict-ratio-width}px;
			min-height: #{$ict-ratio-height}px;
			padding: 5rem 0;
			background: rgba(255, 255, 255, 0.7);
			z-index: 15;
			text-align: center;
			/*font-family: "Oswald", sans-serif;*/
			font-weight: 300;
			white-space: normal;
			user-select: none;
			cursor: default;
			font-size: 1.3rem;
			text-shadow: none;

			h1 {
				font-size: 1.5em;
				font-weight: 400;
			}

			h2 {
				font-size: 1.15em;
				padding: 1em 0 0 0;
				line-height: 2;
				font-weight: 300;
				width: 80%;
				margin: 0 auto;

				p {
					text-align: left;
				}

				strong {
					font-weight: bold;
					border-radius: 0.2em;
					padding: 0 0.3em;

					&.questions {
						background-color: #9bd198;
					}

					&.timelimit {
						background-color: #ffdb8f;
					}
				}
			}

			.ict-button {
				width: 30%;
				margin: 0.3em auto 0 auto;
				font-size: 1.5em;
				line-height: 1.8;
				/*line-height: 1.8em;*/
				padding: 0 0.5em;
				border-radius: 0.2em;
				font-weight: 500;
				background: #11b311;
				color: white;
				text-shadow: 0 0.1rem 0 #234921;
				background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 51%);
				box-shadow: 0 7px 4px -4px rgba(0,0,0,0.2);
				border: 0.2rem solid #84cc84;

				&:not(.ict-state-disabled):hover {
					//background-color: lighten( $ict-start-button, 2% );
					background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 51%);
				}

			}

			.ict-nav {
				font-size: 1.3em;
				border: 0.2rem solid #c8cacf;
				width: 80%;
				margin: 0 auto;
				margin-top: 1rem;
				text-align: center;
				padding: 0.5em 0.8em;
				border-radius: 0.5em;
			}

			.ict-box-panel {
				width: 90%;
				margin: 0 auto;
				border-radius: 1rem;
				box-shadow: 0 7px 7px -7px rgba(0, 0, 0, 0.4);
				background: white;
				border: 0.3rem solid $ict-nav-colour;
				color: $ict-nav-colour;
				padding: 0.2rem;

				h1 {
					position: relative;
					background: $ict-nav-colour;
					background-image: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(0,0,0, 0.15) 51%);
					border-top: 0.1rem solid #bfb8cf;
					border-right: 0.1rem solid #bfb8cf;
					border-left: 0.1rem solid #bfb8cf;
					border-top-left-radius: 0.5rem;
					border-top-right-radius: 0.5rem;
					font-size: 1.5em;
					font-weight: inherit;
					color: white;
					padding: 0;
					pointer-events: none;

					+ .ict-box {
						max-height:550px;
						overflow-y: auto;
					}

					&:after {
						content: "\00d7";
						position: absolute;
						font-size: 2rem;
						line-height: 0.7;
						color: $ict-nav-colour;
						top: 0.6rem;
						right: 0.6rem;
						width: 1.6rem;
						height: 1.6rem;
						background: white;
						background-image: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(0,0,0,0.15) 51%);
						border-radius: 50%;
						border: 0.2rem solid white;
						box-sizing: border-box;
						cursor: pointer;
						pointer-events: all;
					}

					&:hover:after {
						color: white;
						background-color: $ict-nav-colour;
					}
				}

				h2 {
					/*padding: 1em 2em 0.5em 2em;*/
					font-weight: inherit;
					font-size: 1.3em;
					padding:0;
					line-height:1.5;
					/*line-height: 1.5em;*/
				}

				.ict-fa-times {
					/*float: right;
					margin-top: 0;
					margin-right: 0.2em;*/
					position: absolute;
					right:0.1em;

					&:before {
						display: inline-block;
						width: 1em;
						cursor: pointer;
					}

					&:not(.ict-state-disabled):hover:before {
						color: #217dbb;
						background-color: #989aa4;
						text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						border-radius: 0.2em;
					}
				}
			}
		}
	}

	.ict-box-pool {
		padding:$ict-padding;
		text-align: center;
		border-radius: $corner-radius;

		h1 {
			font-size: 1.5em;
			margin-bottom: 0.7em;
			color: $font-colour;
			text-shadow: 0 1px 0 rgba(white,0.4);
		}

		&.ict-box-colour-0 {
			@include ict-pool-render($ict-colour-0);
		}

		&.ict-box-colour-1 {
			@include ict-pool-render($ict-colour-1);
		}

		>.ict-droppable {
			display: block;

			&::before {
				content: "Drop here";
				color: rgba(black,0.3);
				font-weight: 500;
				cursor: default;
				line-height: 1;
				/*line-height: 1em;*/
				font-size: 0.8em;
			}

			&:not(:last-child) {
				margin-bottom: 0.5em;
			}
		}
	}
}
