/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-pins") {
	.ict-pins {
		position: absolute;
		display: flex;
		justify-content: center;

		.ict-pin { /* Deliberately not >child */
			@include ict-circle($ict-pin-size, black);
			@include ict-pin-inset (black);

			&.ict-state-dragging {
				@include ict-circle($ict-pin-size, lighten($ict-colour-pin, 25%));
			}

			&.ict-state-hidden {
				visibility: hidden;
			}
		}

		&:not([ic-pins]) {
			top: 50%;
			left: 50%;

			.ict-pin {
				position: absolute;
				margin: -$ict-pin-size / 2;
			}
		}

		&.ict-pins-left,
		&.ict-pins-right {
			flex-direction: column;
			top: 0;
			bottom: 0;

			> .ict-pin:not(:first-child) {
				margin-top: 0.2em;
			}
		}

		&.ict-pins-top,
		&.ict-pins-bottom {
			flex-direction: row;
			left: 0;
			right: 0;

			> .ict-pin:not(:first-child) {
				margin-left: 0.2em;
			}
		}

		&.ict-pins-left,
		&.ict-pins-topleft,
		&.ict-pins-bottomleft {
			left: -$ict-pin-size/2;
		}

		&.ict-pins-right,
		&.ict-pins-topright,
		&.ict-pins-bottomright {
			right: -$ict-pin-size/2;
		}

		&.ict-pins-top,
		&.ict-pins-topleft,
		&.ict-pins-topright {
			top: -$ict-pin-size/2;
		}

		&.ict-pins-bottom,
		&.ict-pins-bottomleft,
		&.ict-pins-bottomright {
			bottom: -$ict-pin-size/2;
		}
	}
}
