/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-screens") {
	.ict-screens {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}
