/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-question") {
	/* Question Text */
	.ict-question {
		/*margin-bottom: 1em;

		> span {
		display: inline-block;
		}

		&::first-line {
		line-height: 30px;
		}*/
	}
}
