/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-button") {
	.ict-button {
		padding: $ict-button-padding;
		font-family: $ict-font-stack;
		font-size: $ict-button-size;
		font-weight: 500;
		color: $font-colour;
		text-shadow: 0 1px 0 rgba(white,0.4);
		text-align: center;
		background-color: $ict-colour-button;
		box-shadow: 0 3px 3px rgba(0,0,0,0.3), inset 0 1px 1px rgba(255,255,255,0.4), inset 0 -2px 1px rgba(255,255,255,0.2), inset 0 -1px 1px rgba(0,0,0,0.8);
		border-radius: $button-radius;

		&:not(.ict-state-disabled) {
			cursor: pointer;
		}

		/* Buttons */
		@include button-gradient($ict-normal-button);

		/* Submit Button */
		&.ict-button-submit {
			@include button-gradient($ict-submit-button);
		}

		/* Reset Button */
		&.ict-button-reset {
			@include button-gradient($ict-reset-button);
		}

		/* Reveal Button */
		&.ict-button-reveal {
			@include button-gradient($ict-reveal-button);
		}

		/* Toggle Button */
		&.ict-button-toggle {
			&:not(.ict-popup-slider) {
				&:not(.ict-state-checked) > *:nth-child(1) {
					display: none;
				}

				&.ict-state-checked > *:nth-child(2) {
					display: none;
				}
			}

			&.ict-popup-slider {
				position: absolute;
				width: 0;
				min-width: 0;
				height: 0;
				min-height: 0;
				padding: 0;
				margin: 0;
				border: none;
				outline: none;
				background: none;
				pointer-events: none;

				> strong {
					@extend .ict-button;

					@include footer-aspect-ratio();

					position: fixed;
					z-index: 11;
					border-radius: $button-radius;
					height: 39px;
					line-height: 39px;
					width: 190px;
					left: 0;
					right: 0;
					margin: 3px auto 0 auto;
					pointer-events: all;
					padding:0;
					box-shadow:none;
					border-radius:0.3rem;
					border-bottom: 0.1rem solid rgba(0,0,0,0.5);

					&:not(.ict-state-disabled):hover {
						@include ict-single-grad (darken( $ict-normal-button, 5% ), darken( $ict-normal-button, 37% ));
					}
				}

				> .ict-box-modal {
					transition: opacity 0.5s, visibility 1s;
					opacity: 0;

					> .ict-box-panel {
						transition: top 1s;
					}
				}

				&:not(.ict-state-checked) > .ict-box-modal {
					visibility: hidden;

					> .ict-box-panel {
						top: 100%;
					}
				}

				&.ict-state-checked > .ict-box-modal {
					pointer-events: all;
					opacity: 1;

					> .ict-box-panel {
						top: 0%;
					}
				}
			}
		}
	}
}
