/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-text") {
	.ict-text {
		//padding: 0.25em;
		align-items: baseline;
		height:2em;

		& span {
			padding: 0 .3em;
		}

		input[type='text'] {
			padding: 0 3px;
			height: 100%;
			outline: none;
		}

		.ict-box-table &,
		.ict-box-tablecolumn & {
			height: 100%;

			input[type='text'] {
				padding:0;
			}

			&:not(.ict-corners){
				border-radius: 0;
			}
		}

		.ict-box-tablecolumn &:not(.ict-corners){
			border-radius: 0;
			border-width:1px;
		}

		&.ict-state-focus {
			border-color: $ict-colour-dark;
		}

		&:not(.ict-borders) {
			@extend .ict-borders-all;
		}

		&:not(.ict-corners) {
			/*@extend .ict-corners-all;*/
			border-radius: 0.2em;
		}

		&:not(.ict-borders-none) {
			box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.3);

			&.ict-state-disabled,
			&.ict-state-empty {
				border-color: rgba(0,0,0,0.3);
				background-color: #F7EFC9;
			}
		}

		p &,
		&.ict-borders-none {
			padding: 0;
			height:inherit;

			input[type='text'] {
				padding: 0 3px;
				height:inherit;
			}
		}

		/*background-color: rgba(0,0,0,0.1);*/
		background-color: lighten( $ict-colour-dark, 15% );

		&:not(.ict-state-disabled):hover {
			background-color: lighten( $ict-colour-dark, 10% );
		}
	}

	/* Fill The Gaps - Text */
	.ict-text-display-border {
		padding: 0.3em 0.2em;
		border: 2px solid rgba(black,0.2);
		background: rgba(white,0.5);
	}

	.ict-text + .ict-box.ict-box-fraction {
		vertical-align: bottom;
	}

	/* PiRA Text Panel */
	.ict-text-panel {
		position: relative;
		width: 500px;
		padding: 50px;
		margin: 0 auto;
		background-color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
		&:before, &:after {
			position: absolute;
			width: 40%;
			height: 10px;
			content: ' ';
			left: 12px;
			bottom: 12px;
			background: transparent;
			transform: skew(-5deg) rotate(-5deg);
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
			z-index: -1;
		}
		&:after {
			left: auto;
			right: 12px;
			transform: skew(5deg) rotate(5deg);
		}
	}
}
