/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-timer") {
	/*
	.ict-timer {
	@extend .ict-corners-all;

	@include ict-single-grad (darken( $ict-colour-timer, 20% ), ($ict-colour-timer));

	padding: $ict-timer-padding;
	font-family: $ict-font-stack;
	font-size: $ict-timer-size;
	font-weight: bold;
	color: $font-colour;
	text-shadow: 0 0.1em 0 rgba(white,0.4);
	box-shadow: 0 0 0 2px darken( $ict-colour-timer, 10% ), 0 0 0 4px darken( $ict-colour-timer, 30% );

	&.ict-state-click {
	@include ict-single-grad (darken( $ict-colour-timer, 30% ), ($ict-colour-timer));

	box-shadow: 0 0 0 2px darken( $ict-colour-timer, 30% ), inset 0 3px 3px 0 rgba(0,0,0,0.3), inset 0 -1px 1px rgba(255,255,255,0.3);
	}

	&.ict-state-hover,
	&.ict-state-active {
	@include ict-single-grad (darken( $ict-colour-timer, 20% ), lighten( $ict-colour-timer, 10% ));
	}
	}
	*/
}
