/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-draggable") {
	.ict-draggable {
		&:not(.ict-borders) {
			@extend .ict-borders-all;
			border-width:2px;
			border: 2px solid darken( $ict-colour-dark, 20% );
		}

		&:not(.ict-corners) {
			border-radius: inherit;
		}

		/*padding: $ict-draggable-padding;*/
		background-color: $ict-anchor-default;

		text-align: center;
		/*font-size: $ict-draggable-size;*/
		font-family: $ict-font-stack;
		font-weight: 500;
		color: $font-colour;
		text-shadow: 0 1px 0 rgba(white, 0.4);

		/* This is the shadow for the drags - currently removed */
		/*box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);*/

		&:not(.ict-state-disabled) {
			cursor: pointer;
		}

		p & {
			padding: 0 0.3em;
			font-size: inherit;
			border-color: rgba(0, 0, 0, 0.2);

		}

		/* This sets the disabled state for the drags */
		/*&.ict-state-disabled {
		color: rgba(77, 77, 77, 0.71);
		box-shadow: none;
		border: 2px solid rgba(119, 119, 119, 0.61);
		}*/

		&.ict-draggable-0 {
			@include draggable($ict-colour-0);
		}
		&.ict-draggable-1 {
			@include draggable($ict-colour-1);
		}
		&.ict-draggable-2 {
			@include draggable($ict-colour-2);
		}
		&.ict-draggable-3 {
			@include draggable($ict-colour-3);
		}
		&.ict-draggable-4 {
			@include draggable($ict-colour-4);
		}
		&.ict-draggable-5 {
			@include draggable($ict-colour-5);
		}
		&.ict-draggable-6 {
			@include draggable($ict-colour-6);
		}
		&.ict-draggable-7 {
			@include draggable($ict-colour-7);
		}
		&.ict-draggable-8 {
			@include draggable($ict-colour-8);
		}
		&.ict-draggable-9 {
			@include draggable($ict-colour-9);
		}

		//&.ict-droppable-display-match {
		//@include draggable($ict-colour-1);
		//box-shadow:none;
		//&:not(.ict-corners) {
		//border-radius: 0.3em;
		//}
		//}
	}

	/*.ict-draggable-img {
	background-image: url("../__infuzeCreator/images/default_drag_image.jpg");
	background-size: cover;
	}*/
}