/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-toggle") {
	.ict-toggle {
		&:not(.ict-state-disabled) {
			cursor: pointer;
		}

		&.ict-toggle-display-checkbox,
		&.ict-toggle-display-radio {
			width:auto;

			&.ict-state-active::before {
				/*outline: 1px solid #ddd;*/
				box-shadow: inset 0 0 0 1px lightblue, 0 3px 3px rgba(0,0,0,0.3);
			}

			&::before {
				@include ict-single-grad (lighten( $ict-normal-button, 50% ), lighten( $ict-normal-button, 5% ));

				content: "\00a0";
				position: relative;
				border: 2px solid #999;
				display: inline-block;
				vertical-align: middle;
				font-size: 15px; // TODO: make this reactive?
				width: 2rem;
				height: 2rem;
				padding: 2px;
				text-align: center;
				box-shadow: 0 3px 3px rgba(0,0,0,0.2);

				.ict-box-left & {
					font-size: 2em;
				}
			}

			&.ict-state-checked::before {
				/*@include ict-single-grad (#ccc, #222);
				box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2), inset 0 0 0 4px #efefef;*/
				content: "\f00c";
				font-family: FontAwesome;
				font-weight: 200;
				font-size: 1.5rem;
				width: 2rem;
				height: 2rem;
				line-height: 2rem;
				//line-height: 1.4;
				color: #333;
				text-shadow: 0 0.2rem 0 rgba(black,0.2);
				box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);

				@include ict-single-grad (lighten( $ict-normal-button, 20% ), darken( $ict-normal-button, 15% ));
				border: 2px solid #777;


			}

			&:not(.ict-state-disabled):hover::before {
				@include ict-single-grad (lighten( $ict-normal-button, 20% ), darken( $ict-normal-button, 15% ));
				border: 2px solid #777;
			}
		}

		&.ict-toggle-display-radio::before {
			border-radius: 50%;
		}

		>.ict-tick-svg {
			opacity:0;
		}

		&.ict-toggle-display-text {
			line-height: 1;
			/*line-height: 1em;*/
			min-width: 0.5em;
			padding: 0.1em 0;

			&.ict-state-checked {
				background:lighten( $ict-colour-dark, 15% );
				//border-bottom: 3px solid darken( $ict-colour-dark, 15% );
				//box-shadow: 0 3px 2px -2px rgba(0,0,0,0.2);
				box-shadow: inset 0 -3px #dd983a;
			}

		}

		&.ict-toggle-display-tickbox {
			border: 2px solid rgba(0,0,0,0.2);
			text-align: center;

			&:not(.ict-corners) {
				@extend .ict-corners-all;
			}

			&.ict-state-checked {
				border: 2px solid $ict-colour-dark;
				position:relative;
				background:lighten( $ict-colour-dark, 15% );

				&::before {
					@include ict-circle(1.25em, darken( $ict-colour-dark, 15% ));
					@include ict-default-shadow;
					content: "\f00c";
					font-family: FontAwesome;
					font-weight: 200;
					position: absolute;
					bottom:-0.2em;
					right:-0.2em;
					font-size: 70%;
					color: white;
					text-shadow: 0 0.1em 0 darken( $ict-colour-dark, 25% );
				}
			}

			&:not(.ict-state-disabled):hover {
				background:lighten( $ict-colour-dark, 15% );
			}
		}

		&.ict-toggle-display-toggle {
			&:not(.ict-state-checked) > *:nth-child(1) {
				display: none;
			}

			&.ict-state-checked > *:nth-child(2) {
				display: none;
			}
		}

		&.ict-toggle-display-shade {
			&.ict-state-checked {
				background: rgba(243, 186, 88, 1);
			}
		}

		&.ict-toggle-display-tick {
			/*background:rgba(0,0,0,0.2);*/
			&:not(.ict-state-checked) > *:nth-child(1) {
				display: none;
			}

			&.ict-state-checked > *:nth-child(2) {
				display: none;
			}

			&.ict-state-checked > *:nth-child(1) {
				width: 1.5em;
				height: 1.5em;
				line-height: 1.5;
				/*line-height: 1.5em;*/
				background: #dd983a;
				border-radius: 50%;
				text-align: center;
				box-shadow: 0 5px 3px -3px rgba(0,0,0,0.2);
				font-family: FontAwesome;
				position: absolute;
				font-size: 120%;
				color: white;
				text-shadow: 0 0.1em 0 #c27f22;
			}

		}

		&.ict-toggle-display-svg {
			pointer-events: none;

			> svg {
				width: 100%;
				height: 100%;

				> * {
					pointer-events: all;
				}
			}

			&.ict-state-hover:not(.ict-state-checked) > svg {
				opacity: 0.2;
			}

			&:not(.ict-state-checked):not(.ict-state-hover) > svg {
				opacity: 0;
			}

			&.ict-state-checked {
				.ict-tick-svg {
					opacity:1;

					&::before {
						@include ict-circle(1.25em, darken( $ict-colour-dark, 15% ));
						@include ict-default-shadow;
						content: "\f00c";
						font-family: FontAwesome;
						font-weight: 200;
						position: absolute;
						bottom:-0.2em;
						right:-0.2em;
						font-size: 80%;
						color: white;
						text-shadow: 0 0.1em 0 darken( $ict-colour-dark, 25% );
					}
				}
			}

		}

		&.ict-toggle-display-largecircle {
			width: 1.5em;
			height: 1.5em;
			line-height: 1.5;
			/*line-height: 1.5em;*/

			padding: 1.5em;
			border-radius: 50%;
			/*border: 4px solid rgba(255,0,0,0.3);*/
			text-align: center;
			display:flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;

			&.ict-state-checked {
				border: 4px solid rgba(255,0,0,1);
				position:relative;
				background:lighten( $ict-colour-dark, 15% );

				/*&::before {
				@include ict-circle(35px, darken( $ict-colour-dark, 15% ));
				@include ict-default-shadow;
				content: "\f00c";
				font-family: FontAwesome;
				font-weight: 200;
				position: absolute;
				bottom:3px;
				right:3px;
				font-size: 1.5rem;
				color: white;
				text-shadow: 0 1px 0 darken( $ict-colour-dark, 25% );
				}*/
			}

			&:not(.ict-state-disabled):hover {
				background:lighten( $ict-colour-dark, 15% );
			}
		}


		&.ict-toggle-display-circle {
			width: 1.5em;
			height: 1.5em;
			line-height: 1.5;
			/*line-height: 1.5em;*/
			padding: 1.5em;
			border-radius: 50%;
			border: 2px solid rgba(0,0,0,0);
			text-align: center;
			display:flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;

			&.ict-state-checked {
				border: 2px solid $ict-colour-dark;
				position:relative;
				background:lighten( $ict-colour-dark, 15% );

				/*&::before {
				@include ict-circle(35px, darken( $ict-colour-dark, 15% ));
				@include ict-default-shadow;
				content: "\f00c";
				font-family: FontAwesome;
				font-weight: 200;
				position: absolute;
				bottom:3px;
				right:3px;
				font-size: 1.5rem;
				color: white;
				text-shadow: 0 1px 0 darken( $ict-colour-dark, 25% );
				}*/
			}

			&:not(.ict-state-disabled):hover {
				background:lighten( $ict-colour-dark, 15% );
			}
		}
	}

	p.ict-toggle-text {
		line-height: 1.5;
		/*line-height: 1.5em;*/
		min-width: 0.5em;
	}
}
