/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-audio") {
	.ict-audio {
		z-index: 1;
		font-size: 1.25em;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		color: white;
		background: $ict-nav-colour;
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0.25) 51%);
		box-shadow: inset 0 0 0 0.2rem darken($ict-nav-colour, 5%), 0 5px 3px -3px rgba(0,0,0,0.2);

		&.ict-state-hover {
			background-image: none;
			box-shadow: 0 5px 3px -3px rgba(0,0,0,0.2);
			cursor: pointer;
		}

		&.ict-state-click {
			background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 50%, rgba(255,255,255,0) 51%);
			box-shadow: inset 0 0 0 0.2rem darken($ict-nav-colour, 5%), 0 5px 3px -3px rgba(0,0,0,0.2);
		}

		&:before {
			content: "\00a0";
			display: inline-block;
			width: 100%;
			height: 100%;
			background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 25 18.3" xml:space="preserve" fill="white"><rect x="0" y="5.1" width="4" height="8"/><polygon points="13 18.1 6 13.1 6 5.1 13 0.1 "/><path d="M15.2 15.3C16.9 13.6 18 11.5 18 9c0-2.4-1.2-4.4-2.8-6.1 4.1 0.7 5.8 5.8 4 9.3C18.5 13.8 17 15 15.2 15.3zM19.1 18.3c2.3-2.5 3.9-5.6 3.9-9.1 0-3.5-1.6-6.5-3.8-9.1 5 2.1 7.2 8.4 5 13.3C23.2 15.5 21.4 17.3 19.1 18.3z"/></svg>');
			background-size: 60% 60%;
			background-repeat: no-repeat;
			background-position: center;
		}

		@keyframes audio_playing {
			0% {
				background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 25 18.3" xml:space="preserve" fill="white"><rect x="0" y="5.1" width="4" height="8"/><polygon points="13 18.1 6 13.1 6 5.1 13 0.1 "/></svg>');
			},
			33% {
				background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 25 18.3" xml:space="preserve" fill="white"><rect x="0" y="5.1" width="4" height="8"/><polygon points="13 18.1 6 13.1 6 5.1 13 0.1 "/><path d="M15.2 15.3C16.9 13.6 18 11.5 18 9c0-2.4-1.2-4.4-2.8-6.1 4.1 0.7 5.8 5.8 4 9.3C18.5 13.8 17 15 15.2 15.3z"/></svg>');
			},
			66% {
				background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 25 18.3" xml:space="preserve" fill="white"><rect x="0" y="5.1" width="4" height="8"/><polygon points="13 18.1 6 13.1 6 5.1 13 0.1 "/><path d="M15.2 15.3C16.9 13.6 18 11.5 18 9c0-2.4-1.2-4.4-2.8-6.1 4.1 0.7 5.8 5.8 4 9.3C18.5 13.8 17 15 15.2 15.3zM19.1 18.3c2.3-2.5 3.9-5.6 3.9-9.1 0-3.5-1.6-6.5-3.8-9.1 5 2.1 7.2 8.4 5 13.3C23.2 15.5 21.4 17.3 19.1 18.3z"/></svg>');
			}
		}

		&.ict-state-playing:before {
			animation: audio_playing 2s linear infinite;
		}
	}
}
