/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_ic-nav") {
	.ict-nav {
		text-align: center;
		padding: 0.4rem 0.6rem;
		white-space: normal;

		> span {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			line-height: 1.5;
			background: #999;
			border-radius: 50%;
			text-align: center;
			font-family: $ict-font-stack;
			font-weight:bold;
			text-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.2);
			margin: 0 0.2em 0.2em 0;
			pointer-events: all;

			background: $ict-anchor-default linear-gradient(to bottom, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 51%);
			@include ict-anchor-button-inset (lighten( $ict-anchor-default, 10% ));
			color: white;

			&.attempted {
				background: $ict-anchor-attempted linear-gradient(to bottom, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 51%);
				@include ict-anchor-button-inset (lighten( $ict-anchor-attempted, 10% ));
				color: white;
			}

			&.active {
				background: $ict-anchor-active linear-gradient(to bottom, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 51%);
				@include ict-anchor-button-inset (lighten( $ict-anchor-active, 0% ));
				color: $ict-nav-colour;
			}

			&:before {
				content: attr(ic-anchor);
			}
		}
	}
}
