/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_marking") {
	/* All score style - Partially Correct */
	.ict-state-marked .ict-activities[data-mark]::after,
	.ict-activities.ict-state-marked[data-mark]::after,
	.ict-state-marked .ict-activity[data-mark]::after,
	.ict-activity.ict-state-marked[data-mark]::after,
	.ict-state-marked [data-mark]::after {
		content: attr(data-mark);
		position: absolute;
		font-size: 14px;
		right: -2em;
		bottom: 0;
		width: 2em;
		height: 1.2em;
		border-radius: 0;
		line-height: 1.2;
		font-family: monospace;
		box-shadow: 0 0 2px 0px black;
		text-align: center;
		background: yellow;
		z-index: 1;
	}


	/* Group */
	.ict-state-marked .ict-activities[data-mark]::after,
	.ict-activities.ict-state-marked[data-mark]::after {
		margin-top: 0;
		margin-right: 0;
		content: "Group: " attr(data-mark) "/" attr(data-points);
		right: 0;
		top: 0;
		width: 10em;
	}

	/*  Incorrect */
	.ict-state-marked .ict-activities[data-mark='0']::after,
	.ict-activities.ict-state-marked[data-mark='0']::after,
	.ict-state-marked .ict-activity[data-mark='0']::after,
	.ict-activity.ict-state-marked[data-mark='0']::after,
	.ict-state-marked [data-mark='0']::after {
		background: red;
	}
	/*  Correct */
	.ict-state-marked .ict-activities[data-percent='100'][data-mark]::after,
	.ict-activities.ict-state-marked[data-percent='100'][data-mark]::after,
	.ict-state-marked .ict-activity[data-percent='100'][data-mark]::after,
	.ict-activity.ict-state-marked[data-percent='100'][data-mark]::after,
	.ict-state-marked [data-percent='100'][data-mark]::after {
		background: lime;
	}

	.ict-state-marked .ict-activity[data-mark]::after,
	.ict-activity.ict-state-marked[data-mark]::after {
		content: "Score: " attr(data-mark) "/" attr(data-points);
		top: -1em;
		right: 1em;
		border-radius: 0;
		width: 8em;
		height: 1.5em;
		line-height: 1.5;
	}
}
