/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_padding") {
	.ict-padding {
		&.ict-padding-none {
			padding: 0;
		}

		&.ict-padding-xsmall {
			padding: 0.1em;
		}

		&.ict-padding-small {
			padding: 0.25em;
		}

		&.ict-padding-normal {
			padding: 0.5em;
		}

		&.ict-padding-large {
			padding: 1em;
		}
	}
}
