/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

@import "_sass-import-once";
@import "_variables";

@include exports("_player") {
	header,
	footer {
		position: fixed;
		font-size: 1.2rem;
		line-height: 1.4;
		width: 100%;
		height: 3rem;
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
		padding: 0;
		z-index: 10;
		min-width: #{$ict-ratio-width}px;
		font-family: $ict-font-nav;
		font-weight: 400;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
		color: white;
		background: $ict-nav-colour;
		//background-image: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(0,0,0, 0.15) 51%);
		background-image: linear-gradient(to bottom, #412d6e 0%,#6042a1 18%,#6042a1 50%,#4a337c 51%,#4a337c 84%,#271a40 100%);

		@include aspect-ratio(false);

		.ict-button {
			vertical-align: top;
			box-sizing: border-box;
			padding: 0 0.8em;
			min-width: 4rem;
			box-shadow: inset 0 0 0 0.15rem white;
			background: white;
			border-radius: 0.7em;
			color: $ict-nav-colour;
			font-family: inherit;

			@include footer-button-gradient();

			svg {
				height: 1.2rem;
				fill: currentColor;
				vertical-align: -0.2rem;
			}

			&.ict-button-right {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				margin-right: 0.5rem;
				min-width: 0;
			}

			&.ict-button-left {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				margin-left: 0.5rem;
				min-width: 0;
			}
		}

		nav {
			height: inherit;

			> ic-box {
				display: flex;
				align-items: center;
				justify-content: center;
				width: auto;
				height: inherit;

				> ic-box {
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					width: auto;
					height: inherit;
					padding-left: 1rem;
				}
			}

			/* Student name */
			> :first-child {
				position: absolute;
				top: 0;
				left: 1.5rem;
				z-index: 1;
			}

			/* Question numbers */
			> :nth-child(2) {


				> .ict-nav {
					height: 2.0rem;
					width: 8rem;
					background: rgba(0, 0, 0, 0.2);
					border-radius: 1em;
					padding: 0 0.6rem;
					white-space: nowrap;
					box-shadow: 0 0 0 0.15rem lighten( $ict-nav-colour, 10% );

					> span {
						width: 2rem;
						height: 2rem;
						font-size: 1.5rem;
						line-height: 2rem;
						vertical-align: top;
						margin: 0 0.3rem 0 0;
					}
				}
			}

			/* Timer */
			> :last-child {
				position: absolute;
				top: 0;
				right: 1.5rem;

				> div {
					line-height: 1.2em;
					font-size: 1.3rem;
					text-align:left;
				}
			}
		}


		.ict-box-modal {
			font-size: 1.3rem;

			h2 {
				font-family: $ict-font-stack;
			}

			.ict-nav {
			}
		}

		/* Timer numbers */
		.ict-timer {
			padding-left: 0.9rem;
			padding-top: 0.2rem;
			margin-left: 0.5rem;
			text-align: left;
			color: #FFDE0E;
			line-height: 1.6;
			border-radius: 0.8em;
			width: 5.1rem;
			background: rgba(0, 0, 0, 0.2);
			box-shadow: 0 0 0 0.15rem lighten( $ict-nav-colour, 10% );

			&.ict-state-warning {
				@keyframes timer_warning_flash {
					50% { color: rgba(255, 0, 0, 1); }
				}

				animation: timer_warning_flash 1s linear infinite;
				color: rgba($ict-nav-colour, 1);

				&:after {
					content: "5 Minutes Left";
					position: absolute;
					display: inline-block;
					top: 2.4rem;
					right: 0;
					height: 2rem;
					padding: 0 0.25em;
					background: inherit;
					pointer-events: none;
					border-left: 2px solid $ict-nav-colour;
					border-bottom: 2px solid $ict-nav-colour;
					border-right: 2px solid $ict-nav-colour;
					border-bottom-left-radius: 0.2em;
					border-bottom-right-radius: 0.2em;

					@keyframes timer_warning {
						0% { opacity: 0; }
						5% { opacity: 1; }
						95% { opacity: 1; }
						100% { opacity: 0; }
					}

					opacity: 0;
					animation: timer_warning 10s linear 1;
				}
			}
		}
	}

	header {
		border-bottom-right-radius: 1.5rem;
		border-bottom-left-radius: 1.5rem;
		top: 0;
	}

	footer {
		border-top-right-radius: 1.5rem;
		border-top-left-radius: 1.5rem;

		@include footer-aspect-ratio();
	}
}
