/*
 * Copyright &copy; 2016 Infuze Ltd <enq@infuze.co.uk>, All Rights Reserved.
 */

// This file does not contain any code, only mixins and variables, so does not
// use _sass-import-once like the other files

/************************** VARIABLES / DEFAULTS *****************************/
$ict-ratio-width: 512;
$ict-ratio-height: 350;

$ict-colour-default: #FFFBE6;
$ict-colour-dark: darken(#fbf3e8, 25%);
//$ict-colour-table: lighten(#D1EBF5, 75%);
$ict-colour-table: #D4EEF9;
//$ict-colour-table: white;
$ict-nav-colour: #4A337C;


$ict-borders: 2px solid #777;

$ict-padding: 1em;
$ict-line-height: 1.5;

$ict-disabled-opacity: 0.7;

/* Button */
$ict-button-padding: 0.5em;
$ict-button-size: 1.2em;

/* Timer */
$ict-timer-padding: 0.5em;
$ict-timer-size: 1.2em;

/* Text box */
$ict-textbox-padding: 0.2em 0.5em;

/* Buttons */
$ict-colour-button: #efefef;
$ict-submit-button: #33bdef;
$ict-reset-button: #ffab23;
$ict-reveal-button: #bab1ba;
$ict-normal-button: #c3c3c3;
$ict-start-button: #11b311;

/* Draggables */
/*$ict-colour-0: #abd14f;
$ict-colour-1: #00a0e0;
$ict-colour-2: #f79332;
$ict-colour-3: #af9ac9;
$ict-colour-4: #ffe55b;
$ict-colour-5: #a129cc;
$ict-colour-6: #cca029;
$ict-colour-7: #f05a89;
$ict-colour-8: #fecb2e;
$ict-colour-9: #b54b3a;*/

$ict-colour-0: lighten( $ict-colour-dark, 5% );
$ict-colour-1: lighten( $ict-colour-dark, 5% );
$ict-colour-2: lighten( $ict-colour-dark, 5% );
$ict-colour-3: lighten( $ict-colour-dark, 5% );
$ict-colour-4: lighten( $ict-colour-dark, 5% );
$ict-colour-5: lighten( $ict-colour-dark, 5% );
$ict-colour-6: lighten( $ict-colour-dark, 5% );
$ict-colour-7: lighten( $ict-colour-dark, 5% );
$ict-colour-8: lighten( $ict-colour-dark, 5% );
$ict-colour-9: lighten( $ict-colour-dark, 5% );

$ict-draggable-padding: 0.5em;
$ict-draggable-size: 1.2em;

/* Droppables */
$ict-droppable-padding: 0.5em;
$ict-droppable-size: 145%;

/* Question states */
$ict-anchor-attempted: #3399ff;
$ict-anchor-active: #ffde00;
$ict-anchor-default: #ff0000;

/* Theme color */
$ict-colour-theme-0: #caa7ad;

/* Pin */
$ict-colour-pin: #000;
$ict-pin-size: 1.5rem;

/* Timer */
$ict-colour-timer: #e5e5e5;

/* Fonts */
$ict-font-stack: 'OpenSans', sans-serif;
//$font-colour: lighten(black, 30%);
$font-colour: black;

$ict-font-nav: 'OpenSans', sans-serif;
$nav-font-colour: lighten(black, 30%);

$ict-script-font: 'OpenSans', sans-serif;
$ict-script-font-size: 1.2rem;

$script-colour: #333;

$script-colour-rsummer:#502583;
$script-colour-rspring:#007800;

$script-colour-1autumn:#502583;
$script-colour-1spring:#007800;
$script-colour-1summer:#502583;

$script-colour-2autumn:#502583;
$script-colour-2spring:#007800;
$script-colour-2summer:#502583;

$script-colour-3autumn:#502583;

$corner-radius: 0.5em;
$button-radius: 0.5em;

/* Mixins */
@mixin ict-draggable-colour ($dragcolour) {
	/*box-shadow: inset 0 -1em 0 0 darken( $dragcolour, 4% ), inset 0 1px 1px rgba(255,255,255,0.4), inset 0 -1px 1px rgba(0,0,0,0.8);*/
	background-color: $dragcolour;
}

@mixin ict-single-grad ($lightcol, $darkcol) {
	background: $lightcol linear-gradient(to bottom, $lightcol, $darkcol);
}

@mixin button-gradient($colour) {
	background-color: $colour;
	@include ict-single-grad ($colour, darken( $colour, 30% ));

	&.ict-state-active {
		@include ict-single-grad (lighten( $colour, 10% ), darken( $colour, 10% ))
	}

	&.ict-state-hover {
		@include ict-single-grad (lighten( $colour, 30% ), darken( $colour, 10% ))
	}

	&.ict-state-click {
		//		@include ict-single-grad (darken( $colour, 15% ), lighten( $colour, 5% ));
		//		box-shadow: 0 3px 3px rgba(0,0,0,0.3), inset 0 1px 1px rgba(255,255,255,0.4), inset 0 -2px 1px rgba(255,255,255,0.2), inset 0 -1px 1px rgba(0,0,0,0.8);
	}

	&.ict-state-disabled {
		opacity: $ict-disabled-opacity;
	}
}

@mixin draggable($colour) {
	@include ict-draggable-colour ($colour);

	&.ict-state-dragging {
		@include ict-draggable-colour (lighten( $colour, 5% ));
	}

	&.ict-state-disabled {
		/*background-color: rgba( $colour, .5 );*/
	}

	&.ict-state-hover {
		@include ict-draggable-colour (lighten( $colour, 5% ));
	}

}

@mixin droppable($colour) {
	background-color: $colour;

	&.ict-state-disabled {
		/*background-color: lighten( $colour, 30% )*/
	}

	&.ict-state-hover {
		/*background-color: lighten( $colour, 10% )*/
	}
}

@mixin ict-default-shadow {
	box-shadow: 0 5px 3px -3px rgba(0,0,0,0.2);
}

/* Question numbers */
@mixin ict-circle($width, $color) {
	width: $width;
	height: $width;
	line-height: $width;
	background: $color;
	border-radius: 50%;
	text-align: center;
}

@mixin ict-anchor-button-inset ($colour) {
	box-shadow: 0 5px 3px -3px rgba(0,0,0,0.2), inset 0 0 0 3px $colour;
}

@mixin ict-anchor-button ($colour) {
	/*box-shadow: 0 -1px 1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px 1px rgba(255, 255, 255, 0.5), inset 0 0 0 2px $colour;*/
	box-shadow: 0 -1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px $colour;
}

@mixin ict-pin-inset ($colour) {
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2), inset 0 0 0 3px $colour;
}
@mixin ict-pool-render ($ict-pool-col){
	box-shadow: 0 3px 3px rgba(0,0,0,0.3), inset 0 1px 1px rgba(255,255,255,0.4), inset 0 -2px 1px rgba(255,255,255,0.2), inset 0 -1px 1px rgba(0,0,0,0.4);
	@include button-gradient($ict-pool-col);
	@include ict-single-grad (lighten($ict-pool-col, 5%), darken($ict-pool-col, 10%));
}

@mixin font-scaling($font-vh: 4.5) {
	$widthRatio: $ict-ratio-width / $ict-ratio-height;
	$heightRatio: $ict-ratio-height / $ict-ratio-width;

	$widthHeight: #{$widthRatio * 100}vh;
	$heightWidth: #{$heightRatio * 100}vw;

	$fontsizeWidthHeight: #{$font-vh}vh;
	$fontsizeHeightWidth: calc(#{$heightRatio} * #{$font-vh}vw);
	$fontsizeMin: #{$font-vh * $ict-ratio-height / 100}px;

	/* Fix the width relative to the height */
	font-size: $fontsizeWidthHeight;

	/* Fix the height relative to the width */
	@media all and (max-aspect-ratio: #{$ict-ratio-width}/#{$ict-ratio-height}) {
		font-size: $fontsizeHeightWidth;
	}

	/* Make sure the font can never get too short */
	@media all and (max-height: #{$ict-ratio-height}px), all and (max-width: #{$ict-ratio-width}px) {
		font-size: $fontsizeMin;
	}
}

@mixin aspect-ratio($addHeight: true) {
	/* Fix the width relative to the height */
	min-width: #{$ict-ratio-width}px;
	max-width: #{$ict-ratio-width / $ict-ratio-height * 100}vh;
	/* Fix the height relative to the width */
	@if $addHeight == "true" {
        min-height: #{$ict-ratio-height}px;
	}
	max-height: #{$ict-ratio-height / $ict-ratio-width * 100}vw;
}

@mixin footer-aspect-ratio() {
	$footerHeightRatio: $ict-ratio-height / $ict-ratio-width;

	$footerHeightWidth: #{$footerHeightRatio * 100}vw;

	$footerTopMin: calc(#{$ict-ratio-height} - 3rem);
	$footerTopRatio: calc(#{$footerHeightWidth} - 3rem);

	/* Fix the width relative to the height */
	top: calc(100vh - 3rem);

	/* Fix the height relative to the width */
	@media all and (max-aspect-ratio: #{$ict-ratio-width}/#{$ict-ratio-height}) {
		top: $footerTopRatio;
	}

	/* Make sure the height can never get too short */
	@media all and (max-height: #{$ict-ratio-height}px), all and (max-width: #{$ict-ratio-width}px) {
		top: $footerTopMin;
	}
}

@mixin footer-button-gradient() {
	background-image: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba($ict-nav-colour, 0.15) 51%);

	&:hover {
		background-image: none;
	}

	&.ict-state-click {
		background-image:  linear-gradient(to bottom, rgba($ict-nav-colour, 0.15) 50%, rgba(255,255,255,0) 51%);
	}

	&.ict-state-disabled {
		opacity: 1;
		box-shadow: none;
		background-image:  linear-gradient(to bottom, rgba($ict-nav-colour, 0.3) 50%, rgba($ict-nav-colour, 0.5) 51%);
	}
}
