/*
 * Basic activity theme
 */

@import "_sass-import-once";

@import "_variables";
@import "_fonts";

/*****************************************************************************/

html {
	@include font-scaling(2.25);
}

body {
	position: relative;
	background: white;
	font-family: $ict-font-stack;
	min-width: #{$ict-ratio-width}px;
	min-height: #{$ict-ratio-height}px;
	margin: 0 auto;
	font-size: 2rem;

	@include aspect-ratio();
}

audio {
	// TODO: Swap for build
	/*position: absolute;
	z-index: 10;*/
	display: none;
}

p {
	line-height: $ict-line-height;
	padding-bottom: 0.5em;
}

/* Style */
.ict-display-inline {
	display: inline-block;
}

.ict-large-text-0 {
	font-size: 1.5em;
}

.ict-script-text {
	font-family: $ict-script-font;
	color: $script-colour;
	font-size: $ict-script-font-size;
	text-align: left;

	&.ict-script-year-1autumn {
		color: $script-colour-1autumn;
	}
	&.ict-script-year-1spring {
		color: $script-colour-1spring;
	}
	&.ict-script-year-1summer {
		color: $script-colour-1summer;
	}
	&.ict-script-year-2autumn {
		color: $script-colour-2autumn;
	}
	&.ict-script-year-2spring {
		color: $script-colour-2spring;
	}
	&.ict-script-year-2summer {
		color: $script-colour-2summer;
	}
}

@import "_borders";
@import "_corners";
@import "_columns";
@import "_padding";

@import "_ic-activity";
@import "_ic-anchor";
@import "_ic-audio";
@import "_ic-box";
@import "_ic-button";
@import "_ic-draggable";
@import "_ic-droppable";
@import "_ic-nav";
@import "_ic-pins";
@import "_ic-question";
@import "_ic-screen";
@import "_ic-screens";
@import "_ic-text";
@import "_ic-toggle";

@import "_marking";
@import "_player";

/* Arrow */
.ict-arrow {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	&.ict-arrow-down {
		background-image: url('data:image/svg+xml,<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="16" height="64" id="svg4136" version="1.1" viewBox="0 0 16 64"><style>.s0{overflow:visible;}.s1{fill-rule:evenodd;fill:#000;stroke-width:1pt;stroke:#000;}.s2{fill-rule:evenodd;fill:#000;stroke-linejoin:round;stroke-width:0.625;stroke:#000;}</style><defs id="defs4138"><marker orient="auto" refY="0.0" refX="0.0" id="TriangleOutL" overflow="visible"><path id="path4832" d="M5.77 0L-2.88 5-2.88-5 5.77 0z" transform="scale(0.8)" class="s1"/></marker><marker orient="auto" refY="0.0" refX="0.0" id="Arrow2Mend" overflow="visible"><path id="path4717" d="M8.7185878 4.0337352L-2.2072895 0.016013256 8.7185884-4.0017078C6.97309-1.6296469 6.9831476 1.6157441 8.7185878 4.0337352z" transform="scale(0.6) rotate(180) translate(0,0)" class="s2"/></marker><marker orient="auto" refY="0.0" refX="0.0" id="Arrow1Lstart" overflow="visible"><path id="path4690" d="M0 0L5-5-12.5 0 5 5 0 0z" transform="scale(0.8) translate(12.5,0)" class="s1"/></marker><marker orient="auto" refY="0.0" refX="0.0" id="Arrow2Lend" overflow="visible"><path id="path4711" d="M8.7185878 4.0337352L-2.2072895 0.016013256 8.7185884-4.0017078C6.97309-1.6296469 6.9831476 1.6157441 8.7185878 4.0337352z" transform="scale(1.1) rotate(180) translate(1,0)" class="s2"/></marker></defs><metadata id="metadata4141"/><g id="layer1"><path d="m6.6210902 2.0960154c0 78.6037066 0 37.6909346 0 57.1470856" id="path4684" style="fill:none;marker-end:url(#Arrow2Mend);stroke-linecap:round;stroke-miterlimit:4;stroke-width:2;stroke:#000"/></g></svg>');
	}

	&.ict-arrow-right {
		background-image: url('data:image/svg+xml,<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="64" height="16" id="svg4136" version="1.1" viewBox="0 0 64 16"><style>.s0{overflow:visible;}.s1{fill-rule:evenodd;fill:#000;stroke-width:1pt;stroke:#000;}.s2{fill-rule:evenodd;fill:#000;stroke-linejoin:round;stroke-width:0.625;stroke:#000;}</style><defs id="defs4138"><marker orient="auto" refY="0" refX="0" id="TriangleOutL" overflow="visible"><path id="path4832" d="M5.77 0L-2.88 5 -2.88-5 5.77 0z" transform="scale(0.8)" class="s1"/></marker><marker orient="auto" refY="0" refX="0" id="Arrow2Mend" overflow="visible"><path id="path4717" d="M8.72 4.03L-2.21 0.02 8.72-4C6.97-1.63 6.98 1.62 8.72 4.03z" transform="scale(0.6) rotate(180) translate(0,0)" class="s2"/></marker><marker orient="auto" refY="0" refX="0" id="Arrow1Lstart" overflow="visible"><path id="path4690" d="M0 0L5-5 -12.5 0 5 5 0 0z" transform="scale(0.8) translate(12.5,0)" class="s1"/></marker><marker orient="auto" refY="0" refX="0" id="Arrow2Lend" overflow="visible"><path id="path4711" d="M8.72 4.03L-2.21 0.02 8.72-4C6.97-1.63 6.98 1.62 8.72 4.03z" transform="scale(1.1) rotate(180) translate(1,0)" class="s2"/></marker></defs><metadata id="metadata4141"/><g id="layer1"><path d="M2.45 6.39 59.6 6.32" id="path4684" style="fill:none;marker-end:url(#Arrow2Mend);stroke-linecap:round;stroke-miterlimit:4;stroke-width:2;stroke:#000"/></g></svg>');
	}

	&.ict-arrow-rightlong {
		background-image: url('data:image/svg+xml,<svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 311.9 25.6" xml:space="preserve"><g><line fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.8" x2="291.3" y2="12.8"/><g><polygon points="281.6,25.6 287,12.8 281.6,0 311.9,12.8"/></g></g></svg>');
	}

}

/* Lists */
.ordered-lower-latin {
	counter-reset: list;
	padding-left: 1em;
}

.ordered-lower-latin li {
	list-style: none;
	position: relative;
	line-height: 1.5;
	/*line-height: 1.5em;*/
	padding-left: 0.5em;
	&:not(:last-child){
		padding-bottom: 1.5em;
	}
}

.ordered-lower-latin li:before {
	counter-incement: list;
	content: "(" counter(list,lower-latin) ")";
	position: absolute;
	top: 0;
	left: -1.2em;
}

.ict-fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.ict-fa-times:before {
		content: "\f00d"
	}

	&.ict-fa-tick:before {
		content: "\f00c"
	}
}
